@charset "UTF-8";



/* ////// */
.summary{  }
.summary section{  }
.height-50{height:50%;}
.content-body{ padding:0 54px 120px;}
.content-body.social-con{ padding:0 54px 68px;}
.summary .section-2{ margin-top:0;  padding : 45px 0;}
.summary .section-2 .year-text{ margin:30px 0 60px 0; font-size: 15px; color:#000; text-align: right; font-weight: 400; }
.summary .section-2 .button-wrap{ text-align: right; }
.summary .section-2 .button-wrap a{ display:inline-block; text-align: left; margin:0; margin-right:40px; padding:10px 30px;}
.summary .section-2 .button-wrap a:last-child{ margin-right:0; }
.summary .section-2 .button-wrap a.youtube-btn{ background-color:#f47920; color:#fff; border:0; }
.summary .section-2 .button-wrap a.youtube-btn img{position: relative;top: 0;}

.only_mo{display:none;}
   /* tab-title */
.tab-title{ 
    width:100%;
    margin-bottom:45px;
 }
.tab-title:after{ 
    content:'';
    display:block;
    clear:both;
}
.tab-title li{
    line-height: 1.2;
    padding:33px 0;
    text-align: center;
    font-size:24px;
    font-weight: 700;
    background-color: #fff;
    border:1px solid #ccc;
    border-right:0;
    float: left;
    color:#000;
    cursor: pointer;
}
.tab-title li:last-child{
    border-right:1px solid #ccc;
}
.tab-title li.active{ 
    background-color: #f47920;
    border:0;
    color:#fff;
    cursor: default;
}
/* 탭 갯수 */
.tab-title.cnt_02 li{ 
    width:calc(100% / 2);
}
.tab-title.cnt_03 li{ 
    width:calc(100% / 3);
}
.tab-title.cnt_04 li{ 
    width:calc(100% / 4);
}
.tab-title.cnt_05 li{ 
    width:calc(100% / 5);
}
.tab-title.cnt_06 li{ 
    width:calc(100% / 6);
}
/* tab content */
.tab-content > div{ 
    display:none;
    background: #fff;
}
.tab-content > div:after{ 
    content:'';
    display:block;
    clear:both;
}
.tab-content > div.active{ 
    display:block;
}
.tab-content > .history-wrap{ 
    display:block;
    margin-top: 50px;
}
.tab-content > div .left-content{ 
    margin-right:100px;
    float: left;
 }
.tab-content > div .left-content .title{ 
    font-size:45px;
    font-weight: 700;
    margin-bottom:30px;
 }
.tab-content > div .left-content .title-sub{
    font-size:22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom:30px;
    color:#f47920;
}
.tab-content > div .left-content .img{
    width: 320px;
    height: 210px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    margin-bottom:5px;
}
.tab-content > div .left-content .img-text{ 
    font-size:19px;
    font-weight: 400;
}
.tab-content > div .right-content{ width:calc(100% - 524px);
    float: left;
    margin-top: 16px;
}
.tab-content > div .right-content .history{ 
    color:#000;
}
.tab-content > div .right-content .history dl{ 
    position: relative;
}
.tab-content > div .right-content .history dl:after{ 
    content:'';
    display:block;
    clear:both;
}
.tab-content > div .right-content .history dl dt{
    position: absolute;
    left:0;
    top: -16px;
    font-size: 24px;
    font-weight: normal;
}
.tab-content > div .right-content .history dl dd{
    float: left;
    margin-left: 115px;
    width:100%;
    border-left:1px solid #b2b2b2;
    padding-bottom: 65px;
    margin-bottom:0;
}
.tab-content > div .right-content .history dl dd:after{
    width:26px;
    height:26px;
    content: '';
    display: block;
    position:absolute;
    left: 103px;
    top: -13px;
    background: url(/ko/resources/images/ic-history-circle.png) no-repeat center;
}
.tab-content > div .right-content .history dl dd div{
    margin-bottom: 5px;
    min-height: 20px;
}
.tab-content > div .right-content .history dl dd div::after{
    content:'';
    display:block;
    clear:both;
}  
.tab-content > div .right-content .history dl dd div p{
    float: left;
    color:#000;
    line-height: 1;
    font-size:19px;
}
.tab-content > div .right-content .history dl dd div p.line{
    width:95px;
    height: 9.5px;
    margin-right:20px;
}
.tab-content > div .right-content .history dl dd div:first-child p.line span{
    border-top:1px solid #b2b2b2;
    position: relative;
    height: 100%;
    display:block;
}
.tab-content > div .right-content .history dl dd div p.number{
    width:42px;
    font-weight: normal;
    margin-right:30px;
    margin-top: -9.5px;
    min-height:19px;
}
.tab-content > div .right-content .history dl dd div p.text{
    width:calc(100% - 190px);
    margin-top: -13.5px;
    line-height: 25.5px;
}
.tab-content > div .right-content .history dl dd div.on p{
    color: #f47920;
}
.tab-content > div .right-content .history dl dd div.on p.line span:after{
    border-color: #f47920;
}
.tab-content > div .right-content .history dl.dl_last dd{
    padding: 0;
    height: 0;
}


/* 푸터 팝업 */
footer ul li span{color:#fff; font-size:16px;}
.modal-dialog{  }
.modal{  }
.modal.privacy .cont{margin-bottom:30px;}
.modal.privacy .cont{margin-bottom:30px;}
.modal .modal-dialog{ width: 1260px; max-width:100%; position: absolute; left:calc(50% - 630px);bottom: 174px; }
.modal .modal-dialog.notice{ width: 1260px; max-width:100%; position: absolute;bottom: auto; left:50%; transform: translate(-50%, 0);}
.modal .modal-dialog.send{ width: 800px; max-width:100%; position: absolute;bottom:inherit;top: 50%;left: 50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
/* .modal .modal-dialog.notice{bottom:15px;} */


.modal .modal-dialog::after{ content:''; display:block; width:15px; height:13px; background: url(/ko/resources/images/ic-footer-tooltip.png) no-repeat center; position: absolute; bottom:-12px; left:183px;}
.modal .modal-dialog.none::after{ content:''; display: none;}
.modal-dialog.email::after{ content:''; display:block; width:15px; height:13px; background: url(/ko/resources/images/ic-footer-tooltip.png) no-repeat center; position: absolute; bottom:-12px; left:123px;}
.modal-dialog.center::after{ content:''; display:block; width:15px; height:13px; background: url(/ko/resources/images/ic-footer-tooltip.png) no-repeat center; position: absolute; bottom:-12px; left:299px;}
.modal-dialog.notice::after{ content:''; display:block; width:15px; height:13px; background:none;left:auto;right:450px;} 
.modal .modal-dialog.language::after{content:''; display:block; width:15px; height:13px; background: url(/ko/resources/images/ic-footer-tooltip-top.png) no-repeat center; position: absolute; top:-12px; right:30px;left:auto;
}

.modal-dialog.email{ width:900px; left:calc(50% - 450px) }
.modal-dialog.center{ width:900px; left:calc(50% - 450px) }
.modal-dialog.family{ width:240px; right:calc(50% - 620px);left:auto; bottom:130px;}
.modal-dialog.language{ width:1220px; left:50%; top: 40px; bottom:inherit;transform: translate(-50% , 0) !important;}
.modal-dialog.info{width:1220px;position: absolute;bottom: auto;left: 50%;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0)!important;}

.modal .modal-dialog.family::after{left: 95px;}
.modal-dialog.language::after{content:"";background:none;}


.modal .modal-body{padding:40px;}
.modal .modal-body.notice{padding:0 50px 0;}
.modal .modal-body:after{content:'';display:block;clear:both;}

.modal-dialog.email .modal-body{padding: 40px;}
.modal-dialog.cneter .modal-body{padding: 40px;}
.modal-dialog.family .modal-body{padding: 25px;}
.modal-dialog.family .modal-body ul li a{font-size:16px; line-height: 1.8;}
.modal-dialog.family .modal-body ul li a:hover{color:#f47920;}

.modal-dialog.language .modal-body{padding: 23px 10px; text-align:center;}
.modal-dialog.language .modal-content{width:80px;height:120px;float: right;margin-right:0;}
.modal-dialog.language .modal-body .content-text{height: 100px; min-height: auto;}
.modal-dialog.language .modal-body .content-text a.active{color:#f47920;}
.modal-dialog.language .modal-body .content-text a:hover{color:#f47920;}
.modal-dialog.language .modal-body .content-text p{color:#dddddd; margin:0;}



.modal .title{ padding-left:63px; line-height: 42px; font-size:34px; margin-bottom:34px; background-repeat: no-repeat; background-position:center left; }
.modal .content-scroll{ width:100%; height:400px; border: solid 1px rgba(0, 0, 0, 0.3); overflow-y:auto; padding:20px; font-size:16px; font-weight: 400; }
.modal .content-scroll span{ font-weight: 700; }
.modal .content-text{font-size:16px;line-height: 24px;min-height: 130px;}
.modal .content-text-sub{line-height: 43px;}
.modal .content-text-sub.fr{text-align: right;float: right;}
.modal .content-text-sub.fl{float: left;}
.modal .link-btn{float: right;margin: 0;}



section > div > h1{ font-size: 34px; margin-bottom: 45px; font-weight: bold;} 

/* ceo */
.ceo-greetings img{ height:476px; }
.ceo-sign{ margin:30px 0 0 0; }
.ceo-sign > div:nth-child(1){ padding-top:30px; }
.ceo-sign > div:nth-child(2){ height:80px; }
.ceo-sign p{ font-size:22px; }
.ceo-profile .ceo-profile-title{font-size:22px;margin-bottom:20px; font-weight:bold;}
.ceo-profile .ceo-profile-title span{padding : 0 15px;}
.ceo-profile .ceo-profile-years li{font-size:16px;}
.ceo-profile .ceo-profile-job li{font-size:16px;}
.ceo-profile .ceo-profile-job li span{font-family: '맑은 고딕'; color:#999;}
/* history */
.tab-content > div .left-content .title{font-size:36px;}
.tab-content > div .left-content .title-sub{font-size:18px;}
.tab-content > div .left-content .img-text{font-size:16px;}
.tab-content > div .right-content .history dl dt{font-size:24px;}
.tab-content > div .right-content .history dl dd div p{font-size:16px;}
/* 제품 table */
.table.socket th{ font-size:16px; }
.table tbody td{font-size:16px;}
/* 핵심기술력 */
.table.core thead tr th{
    font-size:16px;
    font-weight:700;
    color:#000;
}
.table.core ul{ padding:0; }
.toggle_list .list .right p.title{font-size:28px;margin-bottom: 30px;}

.only_site_mo{display:none;}
.all_menu_mobile_wrap{display:none;}



@media screen and (max-width:1260px){
    .modal .modal-dialog.send{ width: 800px; max-width:100%; position: absolute;bottom:inherit;top: 50%;left: 50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%)}
    .modal .modal-dialog.notice{ width: 1260px; max-width:100%; position: absolute;bottom: auto; left:50%; transform: translate(-50%, 0);}
    .modal .modal-dialog.send{ width: 800px; max-width:100%; position: absolute;bottom:inherit;top: 50%;left: 50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%)}
    /* .modal .modal-dialog.notice{bottom:15px;} */
    .modal .modal-dialog::after{ content:''; display:none;}
    .modal-dialog.notice::after{ content:''; display:block; width:15px; height:13px; background:none;left:auto;right:450px;} 
    .modal-dialog.info{ width:900px;top:50% !important;transform: translate(-50%, -50%) !important; }
    .modal-dialog.email{ width:900px; left:calc(50% - 450px) }
    .modal-dialog.center{ width:900px; left:calc(50% - 450px) }


    .modal-dialog.family{ width:240px; right:calc(50% - 520px);left:auto; bottom:130px;}
    .modal .modal-dialog.family::after{left: 95px; display:block;}

    .sales div .content-img{background-color: #fff;background-position: center;background-repeat: no-repeat;height:430px;border:1px solid #ccc;background-size: contain;}
}
@media screen and (max-width:991.98px){
    .only_mo{display:block; width:25px;height: 25px;
        background-image: url('/ko/resources/images/menu.png'); background-size: contain;
        background-repeat: no-repeat;
        margin-left: 15px;
    }
    .only_mo_close{
        display:none;
        width:20px;height: 20px;
        background-image: url('/ko/resources/images/ic-gnb-close.png'); background-size: contain;
        background-repeat: no-repeat;
        margin-left: 20px;
     }
    /* //모바일 사이트맵 */
    .all_menu_mobile_wrap { width:100%; height: 100vh; max-height:calc(100vh - 65px);overflow-y:auto;position:absolute;right:-1200px; top:65px;z-index:100; transition:all 0.6s;display:block;background-color: #fff;padding-bottom: 50px;}

    .all_menu {width:100%; float:right; }
    .all_menu .home_btn { display:block;background: #f47920; }
    .all_menu .home_btn a { display:inline-block; padding:1em; font-size: 15px; font-weight: bold; color:#fff; text-align:center; }
    .all_menu .home_btn a.ing{color:#ddd;}
    /* .all_menu .home_btn a:hover, .all_menu .home_btn a:active { color:#7bc7f2; } */

    .all_menu .d1 {float: none;width: auto;margin-right: 0;}
    .all_menu .d1:last-child { width:auto; margin-right:0; }

    .all_menu .dep1 .d1 { position:relative; background: #fff; border-bottom:1px solid #ddd; }
    .all_menu .dep1 .d1 > a { display:block; padding:1em 20px; font-size: 18px; font-weight: normal; color:#333; letter-spacing:-0.02em; background: #fff; margin-bottom: 0px; }
    .all_menu .dep1 .d1 > a > span.more , .all_menu .dep2 .d2 > a > span.more { display:inline-block; position:absolute; right:1em; top:1.5em; width:20px; height:9px; background:url(../images/g_list_btn_on.png) no-repeat center; text-indent: -10000px;background-size:contain; }
    .all_menu .dep1 .d1 > a.active > span.more , .all_menu .dep2 .d2 > a.active > span.more { background: url(../images/g_list_btn.png)  no-repeat center;background-size:contain; }
    .all_menu .dep2_wrap { display:none; }
    .all_menu .d1 .dep2  { padding-left:0; }
    .all_menu .d1 .dep2 .d2 {  }
    .all_menu .d1 .dep2 .d2 { background: #f3f3f3; border-top:1px solid #ddd; position:relative; }
    .all_menu .d1 .dep2 .d2 > a { display:block; padding:1em 2.5em; color:#666; font-size:16px; background:#f3f3f3;}
    .all_menu .d1 .dep2 .d2 > a.active {border-bottom:1px solid #ddd; }
    .all_menu .d1 .dep3 { padding-bottom:0;  display:none; margin-bottom:0;}
    .all_menu .d1 .dep3 .d3 { background: #f3f3f3; position:relative; }
    .all_menu .d1 .dep3 .d3 > a { display:block;font-size:14px; padding:1em 5em; color:#666; background:#f3f3f3;}
    .all_menu .d1 .dep3 .d3 > a:hover,
    .all_menu .d1 .dep3 .d3 > a.active { color:#666; background:#bcbcbd; }
    .all_menu br { display:none; } 

    .height-50{height:auto;}
    header .logo a img{ height:30px; margin-top:0;}
    .modal .modal-dialog.info{ width:900px; left: 50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,-0); }

    .modal .modal-dialog.email{ width:900px;  left: 50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,-0); }

    .modal .modal-dialog.center{ width:900px;  left: 50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,-0); }

    .modal .modal-dialog.family{ width:200px !important; right:calc(50% - 380px) !important;left:auto !important; bottom:150px !important; top:auto;}
    .modal .modal-dialog.family::after{left: 95px; display:block !important;}


    .section-2 .about p:nth-child(2){ font-size:14px; }
    .section-2 .about p:nth-child(3){ font-size:23px; }
    .section-2 .about p:nth-child(3) span{ font-size:15px; }

    section > div > h1{ font-size: 26px; margin-bottom: 25px; font-weight: bold;}
    
    .section-2 .container .about > div{background-repeat: no-repeat; background-size: contain; width: 80px; height: 80px; }
    .section-2 .container .about.summary .ic-1{background-repeat: no-repeat;background-image: url('/ko/resources/images/ic-summary-1.png'); background-size: contain; width: 80px; height: 80px; }
    .section-2 .container .about.summary .ic-2{background-repeat: no-repeat;background-image: url('/ko/resources/images/ic-summary-2.png'); background-size: contain; width: 80px; height: 80px; }
    .section-2 .container .about.summary .ic-3{background-repeat: no-repeat;background-image: url('/ko/resources/images/ic-summary-3.png'); background-size: contain; width: 80px; height: 80px; }
    .section-2 .container .about.summary .ic-4{background-repeat: no-repeat;background-image: url('/ko/resources/images/ic-summary-4.png'); background-size: contain; width: 80px; height: 80px; }
    
    /* layout */
    .nav-tabs{ margin:20px 0; }
    /* #wrap section{margin-top:30px; padding : 20px 0;} */
    .content-body{ padding:0 10px 70px; }
    .content-body.social-con{padding : 0 10px 50px;}
    .logo{padding-left:10px;}
    header .left-header img{ width: 41px; height: auto; padding: 0 10px; }
    footer .container{padding:0 10px;}
    footer ul li:first-child a{padding:0 10px 0 0;}
    footer .text-right{margin-top:20px;}
    /* history */
    .tab-content > div .left-content{width:100%; float: inherit; margin:0;}
    .tab-content > div .left-content .title{font-size: 23px; margin-bottom:15px;}
    .tab-content > div .left-content .title-sub{font-size:19px; line-height: 22px; margin-bottom:15px;}
    .tab-content > div .left-content .img{margin-bottom:10px; background-size: cover;}
    .tab-content > div .right-content{ width:100%; float: inherit; margin-top: 40px; }
    .tab-content > div .right-content .history dl dt{position: absolute;width:auto;left: 55px;}
    .tab-content > div .right-content .history dl dd{margin:0;width: calc(100% - 10px);float: none;position: relative;margin-left: 10px;padding-top: 0;padding-bottom:20px;}
    .tab-content > div .right-content .history dl dd:after{left: -13px;}
    .tab-content > div .right-content .history dl dd div{min-height:25px; margin-bottom: 25px;}
    .tab-content > div .right-content .history dl dd div:first-child{ position: relative; padding-top:40px; }
    .tab-content > div .right-content .history dl dd div:first-child p.line span{ position: relative; top:-40px; }
    .tab-content > div .right-content .history dl dd div p.line{width: 35px;margin-right: 10px;}
    .tab-content > div .right-content .history dl dd div p.number{margin-right:10px;}
    .tab-content > div .right-content .history dl dd div p.text{width: calc(100% - 98px);}
    

   
    .summary .section-2{padding:20px 0;}
    .summary .section-2 > div > div > div{ margin-bottom:30px; }
    .summary .section-2 .year-text{margin: 10px 0 30px 0; }
    .summary .section-2 .button-wrap a{margin-right: 10px;padding: 10px;}
 
    .sales div.w50{ width:100%; margin:0; margin-bottom:20px; }
    .sales div .content-img{ background-size: 300px; height:300px;}
    .modal .modal-dialog{  margin: 60px auto;}
    .modal .modal-dialog::after{ display:none !important; }
    .modal .modal-body{ padding:30px 20px!important; }
    .modal .content-scroll{ padding:20px 30px!important; }
    .modal .title{font-size:24px; padding-left:40px; background-size: 30px; margin-bottom: 15px;}
    .modal .modal-dialog{bottom:auto; top:50px;}
   
}
@media screen and (max-width:500px){
    .modal .content-scroll{padding : 20px 15px !important;}
    .modal .content-scroll p{font-size:14px;}
    .modal .content-text{font-size:14px;}
    .modal .content-text-sub.fr{text-align: left; float: inherit;}
    .modal .content-text-sub.fr a{font-size:14px;}
    .modal .modal-dialog.send{ width: 800px; max-width:100%; position: absolute;bottom:inherit;top: 50%;left: 50% !important;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%)}

    .modal .modal-dialog.info{ width:90%; left: 50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,-0); }

    .modal .modal-dialog.email{ width:90%;  left: 50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,-0); }

    .modal .modal-dialog.center{ width:90%;  left: 50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,-0); }

    .modal .modal-dialog.family{ width:200px !important; right:calc(50% - 170px) !important;left:auto !important; bottom:30px !important; top:auto;}
    .modal .modal-dialog.family::after{left: 160px; display:block !important;}
    .section-2 .year-text{font-size:13px;}
    .summary .section-2 .year-text{font-size:13px;}
    header a img{padding-left: 15px; height: 25px;}
    .banner_slide{ width:100%; }
    .swiper-slide .img{height:224px;}
    .border-right{
        border:0 !important;
    }
    .link-btn {font-size: 14px;padding: 5px 15px;}
    .tab-content > .history-wrap{ 
        display:block;
        margin-top: 20px;
    }
    .tab-content > div .left-content .img{
        width: 100%;
    }
}
