
.top-scroll{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 111;
    display:none;
    transition: .3s all;
    >div{
        width: 40px;
        height: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color:$white;
    }
    &.active{
        display:block;
        transition: .3s all;
    }
} 
section>div>h1 {
    font-size: 42px;
    color: $black;
    margin-bottom: 50px;
}

@include media-breakpoint-down(xxl){
    .swiper-container{
        .banner-wrap{
          
            p:nth-child(2){
                font-size: 32px;
                margin-top: 150px; 
            }
        }
    }
}
@include media-breakpoint-down(xl){
    .popup-banner{
        width: 370px;
        height: 570px;
    }
    .swiper-container{
        .control-btn{
            padding:0 4rem;
        }
        .banner-wrap{     
            top: 50%;     
            padding: 4rem;
            p:nth-child(1){font-weight: bold;font-size:42px;top:150px;}
            p:nth-child(2){color:$white;font-size: 25px;margin-top: 50px;}
            p:nth-child(3){color:$white;font-size: 19px;line-height: 1.6;}
        }
    }
    .banner {
        width: 100%;
    }
   
    .swiper-button-prev{
        left: 10px;
    }
    .swiper-button-next{
        right:10px;
    } 
}
@include media-breakpoint-down(md){
    .popup-banner{
        width: 300px;
        height: 450px;
    }
    .swiper-container{
       
        .banner-wrap{  
            top: 50%;    
            padding: 4rem;
            p:nth-child(1){font-weight: bold;font-size:35px;line-height: 1.35;color:$white;}
            p:nth-child(2){color:$white;font-size: 25px;margin-top: 50px;}
            p:nth-child(3){color:$white;font-size: 19px;line-height: 1.6;}
        }
    }
    .banner {
        width: 100%;
    } 
  
}
@include media-breakpoint-down(sm){
    .popup-banner{
        width: 300px;
        height: 440px;
        top:2%;
        .form-check{
            label{font-size:14px;}
        }
    }
    .swiper-container{
        .control-btn{
            padding:0 2rem;
            bottom: 25%;
        }
        .banner-wrap{ 
            top: 50%;
            margin-top: 1rem;
            padding: 2rem;
            p:nth-child(1){font-weight: bold;font-size:28px;line-height: 1.35;color:$white;top:25%;}
            p:nth-child(2){color:$white;font-size: 19px;margin-top: 40px; bottom:30%; span{
                color:$white;font-size:19px;line-height: 1.4;text-shadow: 0.6px 0.8px 1px rgba(0, 0, 0, 0.3);
            }}
            p:nth-child(3){color:$white;font-size: 15px;line-height: 1.6;}
        }
    }
    
}
.section-2 {
    padding: 90px 0;
    .about {
        padding: 20px;
        .ic-1 {
            width: 100px;
            height: 100px;
            display: inline-block;
            background-image: url('/ko/resources/images/ic-01.png');
            background-size: cover;
            background-position: center;
        }

        .ic-2 {
            width: 100px;
            height: 100px;
            display: inline-block;
            background-image: url('/ko/resources/images/ic-02.png');
            background-size: cover;
            background-position: center;
        }

        .ic-3 {
            width: 100px;
            height: 100px;
            display: inline-block;
            background-image: url('/ko/resources/images/ic-03.png');
            background-size: cover;
            background-position: center;
        }

        .ic-4 {
            width: 100px;
            height: 100px;
            display: inline-block;
            background-image: url('/ko/resources/images/ic-04.png');
            background-size: cover;
            background-position: center;
        }
        .ic-5 {
            width: 100px;
            height: 100px;
            display: inline-block;
            background-image: url('/ko/resources/images/ic-subsidiary-5.png');
            background-size: cover;
            background-position: center;
        }

        .ic-6 {
            width: 100px;
            height: 100px;
            display: inline-block;
            background-image: url('/ko/resources/images/ic-subsidiary-6.png');
            background-size: cover;
            background-position: center;
        }
        .vietnam{
            width: 100px;
            height: 100px;
            display: inline-block;
            background-size: cover;
            background-position: center;
            &.icon-1{ background-image: url('/ko/resources/images/ic-subsidiary-1.png');}
            &.icon-2{ background-image: url('/ko/resources/images/ic-subsidiary-2.png');}
            &.icon-3{ background-image: url('/ko/resources/images/ic-subsidiary-5.png');}
            &.icon-4{ background-image: url('/ko/resources/images/ic-subsidiary-6.png');}
        }
        .china{
            width: 100px;
            height: 100px;
            display: inline-block;
            background-size: cover;
            background-position: center;
            padding: 20px;
            &.icon-1{ background-image: url('/ko/resources/images/ic-subsidiary-1.png');}
            &.icon-2{ background-image: url('/ko/resources/images/ic-subsidiary-2.png');}
            &.icon-3{ background-image: url('/ko/resources/images/ic-subsidiary-3.png');}
            &.icon-4{ background-image: url('/ko/resources/images/ic-subsidiary-4.png');}
        }
        p:nth-child(2) {
            font-size: 16px;
            color: $black;
        }

        p:nth-child(3) {
            font-size: 32px;
            color: $black;

            span {
                font-size: 19px;
            }
        }
    }

}



