$orange : #f47920;
$b-orange:#ef4538;
$black:#000000;
$gray-cc:#cccccc;
$gray-79:#797979;
$gray-f2:#f2f2f2;
$gray-33:#333333;
$gray-66:#666666;
$gray-99:#999999;
$gray-dd:#dddddd;
$gray-ef:#efefef;
$gray-f5:#f5f5f5;
$gray-88:#888888;
$gray-aa:#aaaaaa;
$gray-b2:#b2b2b2;
$gray-a0:#a0a0a0;
$white : #ffffff;
$rgba-2:rgba(0, 0, 0, 0.2);
$rgba-5:rgba(0, 0, 0, 0.5);
$rgba-7:rgba(0, 0, 0, 0.7);

body {
    text-decoration: none;
    color: $gray-33;
    font-weight: 400;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
    font-size: 16px;
    color: $gray-33;
    word-break: keep-all;
    font-weight: 400;
}
.container{
    padding-left:0;
    padding-right:0;
}
.row{
    margin-left:0;
    margin-right:0;
}
//layout comm
.padding-15{
    padding-left: -15px;
    padding-right: -15px;
}
.padding-30{
    padding-left: -30px !important;
    padding-right: -30px !important;
}
.margin {
    margin-left: -10px;
    margin-right: -10px;
}
.margin-15 {
    margin-left: -15px;
    margin-right: -15px;
}
.margin-20 {
    margin-left: -20px;
    margin-right: -20px;
}
.margin-30{
    margin-left: -30px;
    margin-right: -30px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-t-45 {
    margin-top: 45px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-t-110 {
    margin-top: 110px;
}

.p-20 {
    padding: 20px;
}
.margin-minus{
    margin-left:-15px !important;
    margin-right:-15px !important;
}
.years-line {
    font-size: 24px;
    color: $rgba-5;
    line-height: 1.33;
    margin-bottom: 35px;
    position: relative;

    &::after {
        content: "";
        width: 50%;
        height: 1px;
        position: absolute;
        right: -35px;
        bottom: 50%;
        transform: translate(35px, -50%);
        border: 1px dotted $black;
        opacity: 0.1;
    }

}

//btn comm
.link-btn {
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 16px;
    color: $black;
    padding: 10px 25px;
    display: inline-block;
    margin-top:30px;
    background-color: $white;
    vertical-align: middle;

    img {
        vertical-align: inherit;
        margin: 0 5px 0 20px;
    }
}

.s-link-btn {
    width: 130px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid $gray-dd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

    &.orange {
        border: none;
        background-color: $orange;
        color: $white;
    }
}

.border-text {
    width: 90px;
    padding: 0 5px;
    border: 1px solid #797979;
    border-radius: 30px;
    font-size: 14px;
    color: $gray-66;
    font-weight: 400;
    margin: 20px 0;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
}

.product-question {
    width: 250px;
    border: 1px solid $gray-aa;
    text-align: center;
    padding: 10px 0;
    margin: 70px auto;

    span {
        font-weight: 400;
    }

    img {
        margin: 0 10px;
    }
}

.arrow-right {
    width: 19px;
    height: 34px;
    background-image: url('../../resources/images/gray-right.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 20px;
}

//텍스트 comm
// c = common, o = orange, b = bold, s = small

//큰 텍스트
.c-lg-text {
    font-size: 30px;

    span {
        color: $orange
    }
}

.c-text-border {
    font-size: 28px;
    position: relative;
    padding-bottom: 10px;

    &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        background-color: $orange;
        bottom: 0;
        left: 0;
    }
}

//오렌지 컬러
.lg-text-border {
    font-size: 26px;
    position: relative;
    padding-bottom: 10px;
    color: $orange;

    &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        background-color: $orange;
        bottom: 0;
        left: 0;
    }
}

//중간텍스트
.c-m-text {
    font-size: 20px;
    color: $orange;
    margin-top:35px;

    &.black {
        color: $black;
        margin: 0 0 10px 0;
    }
}

.b-text-border {
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;

    &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: $orange;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.s-text-border {
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;
    color: $orange;

    &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: $orange;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

// 작은텍스트
.c-s-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-top:35px;
}

//오렌지색 텍스트
.o-s-text {
    font-size: 16px;
    color: $orange;
}

//오렌지색 텍스트
.o-b-text {
    font-size: 16px;
    color: $b-orange;
}

//
.b-s-text {
    font-size: 16px;
    font-weight: 700;
}


.d-s-text {
    font-size: 16px;
    font-weight: 500 !important;

    &.light {
        font-weight: 400;
    }
}

//예시 텍스트
.example {
    font-size: 14px;
    color: $rgba-7;
}

///box border comm

.border-box {
    border: 1px solid $gray-b2;
    padding: 50px;


    &.vision {
        border: 1px solid $gray-b2;
        padding: 50px 120px;
  
    }

    &.ir {
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
    }

    &.none-bg {
        padding: 25px;

        .newsroom-img {
            display: flex;
            justify-content: space-between;
        }

        .ir-ic {
            width: 60px;
            height: 60px;
            background-size: contain;
        }

        .news-title {
            font-size: 20px;
        }

        .news-date {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

//토글
.toggle-wrap {
    .toggle-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span:nth-child(1) {
            font-size: 19px;
            color: $black;
        }

        button:nth-child(2) {
            width: 30px;
            height: 20px;
            background-image: url('../../resources/images/g_list_btn.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

    }

    .toggle-content {
        display: block;

        ul {
            margin: 30px 0;
        }

        .maps {
            border-top: 1px solid $gray-dd;
            padding-top: 20px;
        }

    }

    &.active {
        button:nth-child(2) {
            background-image: url('../../resources/images/g_list_btn_on.png');
        }

        .toggle-content {
            display: none;
        }
    }
}

.maps {
    width: 100%;
    float: inherit;
}

#google-map {
    width: 100%;
    height: 500px;
    background-color: #ddd;
    border-radius: 4px;
}

//도형

.orange-circle {
    width: 240px;
    height: 240px;
    background-color: $orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 35px auto;

    .icon {
        width: 53px;
        height: 75px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &.small {
        width: 160px;
        height: 160px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 30px;
            background-image: url('../../resources/images/gray-right.png');
            top: 50%;
            right: -40%;
            transform: translate(40%, -50%);
        }
    }

    &.large {
        width: 280px;
        height: 280px;
        position: relative;
        background-size: cover;

        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 30px;
            background-image: url('../../resources/images/gray-right.png');
            top: 50%;
            right: -15%;
            transform: translate(40%, -50%);
        }

        &:nth-child(3n) {
            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 30px;
                background-image: none;
                top: 50%;
                right: -15%;
                transform: translate(40%, -50%);
            }
        }
    }
}

//tab panel comm
.nav-tabs {
    margin-top: 45px;
    margin-bottom:20px;

    .nav-item {
        width: 50%;
        text-align: center;
        padding: 0;
        margin-left: -1px;

        .nav-link {
            height: 100%;
            padding: 21px 0;
            border: none;
            font-size: 20px;
            color: $black;
            border: 1px solid $gray-b2;

            &.active {
                background-color: $orange;
                border: 1px solid $orange;
                color: $white;
            }
        }
    }

    .nav-item-3 {
        width: 33.3%;
        text-align: center;
        padding: 0;
        margin-left: -1px;

        .nav-link {
            height: 100%;
            padding: 21px 0;
            border: none;
            font-size: 20px;
            color: $black;
            border: 1px solid $gray-b2;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                background-color: $orange;
                border: 1px solid $orange;
                color: $white;
            }
        }
    }
}

.table {
    color: $black;
    &.tab-panel {

        th,
        td {
            border-top: none;
            border-bottom: 1px solid $gray-dd;
        }

        thead {
            border-top: 2px solid $gray-dd;

            th {
                padding: 10px 0;
                background-color: $gray-f5;
            }
        }

        tbody {

            td,
            th {
                padding: 20px;
                vertical-align: middle;
            }


        }
    }

    &.socket {
        th {
            padding: 10px 15px;
            border-top: none;
            border: 1px solid $gray-dd;
            background-color: $gray-f5;
            vertical-align: middle;
            font-size: 16px;
            font-weight: 400;
        }

        td {
            padding: 10px 30px;
            border-top: none;
            border: 1px solid $gray-dd;
            vertical-align: middle;
        }
    }

    &.property {
        th {
            padding: 10px 15px;
            border-top: 1px solid $gray-33;
            border-bottom: 1px solid $gray-99;
            background-color: $gray-f5;
            vertical-align: middle;
            font-size: 19px;
        }

        td {
            padding: 20px 30px;
            border-top: none;
            vertical-align: middle;
            border-bottom: 1px solid $gray-dd;
            font-weight: 400;
        }
    }

    &.core {
        line-height: 32px;
        th {
            padding: 10px 15px;
            border-top: 1px solid $gray-33;
            border-bottom: 1px solid $gray-dd;
            background-color: $white;
            vertical-align: middle;
            font-size: 19px;
        }

        td {
            padding: 20px 30px;
            border-top: none;
            vertical-align: middle;
            border-bottom: 1px solid $gray-dd;
        }

        ul {

            padding: 27px 0 24px 0;
            // border-bottom:1px solid $gray-dd;

        }
    }

    &.ir {
        th {
            padding: 10px 15px;
            border-top: 1px solid $gray-33;
            border-bottom: 1px solid $gray-99;
            background-color: $gray-f5;
            vertical-align: middle;
            font-size: 19px;
        }

        td {
            height: 60px;
            padding: 0 30px;
            border-top: none;
            vertical-align: middle;
            border-bottom: 1px solid $gray-dd;
            font-weight: 400;
        }
    }
}

.last-border {
    border-bottom: 2px solid $gray-dd;
}

.ul-list-dot {
    li {
        position: relative;
        padding-left: 10px;
        font-size: 16px;
        line-height: 32px;
        &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50px;
            left: 0;
            top: 35%;
            transform: translate(-50%, 0);
            background-color: $gray-dd;
        }
    }

    &.ir {
        li {            
            display: flex;
            justify-content: space-between;
            padding: 10px 0 10px 10px;

            &:first-child {
                margin-top: 10px;
            }

            &::before {
                top: 45%;
                transform: translate(-50%, 0);
            }
            span:nth-child(1){
                width: 350px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

.pagination {
    ul {
        a {
            margin: 0 10px;

            &.active {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $orange;
                background-color: $gray-dd;
                padding: 5px;
                border-radius: 50px;
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .orange-circle {
        &.small {
            width: 160px;
            height: 160px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 30px;
                background-image: url('../../resources/images/gray-right.png');
                top: 50%;
                right: -20%;
                transform: translate(20%, -50%);
            }

        }
    }
    .margin-15 {
        margin-left: 0;
        margin-right: 0;
    }
    .margin-20 {
        margin-left: 0;
        margin-right: 0;
    }
    .margin-30{
        margin-left: 0;
        margin-right: 0;
    }
}

@include media-breakpoint-down(md) {
     .margin-15 {
        margin-left: 0;
        margin-right: 0;
    }
    .margin-20 {
        margin-left: 0;
        margin-right: 0;
    }
    .margin-30{
        margin-left: 0;
        margin-right: 0;
    }
    .link-btn {
        font-size: 16px;
        padding: 10px;
        display: inline-block;
        margin: 15px 0;
    }

    .c-lg-text {
        font-size: 23px;
    }

    .c-text-border {
        font-size: 23px;
        position: relative;
        padding-bottom: 5px;

        &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 1px;
            background-color: $orange;
            bottom: 0;
            left: 0;
        }
    }

    .lg-text-border {
        font-size: 23px;
        position: relative;
        padding-bottom: 5px;
        color: $orange;

        &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: $orange;
            bottom: 0;
            left: 0;
        }
    }

    .c-m-text {
        font-size: 19px;
        color: $orange;
        margin: 20px 0;
    }

    .c-s-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.68;
    }

    .nav-tabs {
        margin: 45px 0;

        .nav-item {
            width: 50%;
            text-align: center;
            padding: 0;

            .nav-link {
                padding: 10px 0;
                border: none;
                font-size: 19px;
                color: $black;
                border: 1px solid $gray-33;

                &.active {
                    background-color: $orange;
                    border: 1px solid $orange;
                    color: $white;
                }
            }
        }

        .nav-item-3 {
            width: 33.3%;
            text-align: center;
            padding: 0;

            .nav-link {
                padding: 10px 0;
                border: none;
                font-size: 16px;
                color: $black;
                border: 1px solid $gray-33;

                &.active {
                    background-color: $orange;
                    border: 1px solid $orange;
                    color: $white;
                }
            }
        }
    }

    ///box border comm
    .border-box {
        border: 1px solid $gray-b2;
        padding: 25px;

    }

    .border-box.vision {
        border: 1px solid $gray-b2;
        padding: 10px 20px;

    }

    .talent {
        .arrow-right {
            display: none;
        }
    }

    .orange-circle {
        &.small {
            &::after {
                display: none;
            }
        }

        &.large {
            &::after {
                display: none;
            }
        }
    }

    .ul-list-dot {
        li {
            padding: 3px;
        }
    }
}
