
.wrap{
    padding :20px;
}
section {
    padding : 45px 0;
}

.header{
    width: 100%;
    background-color: $white;
    position: fixed;
    z-index: 99;
    border-bottom:1px solid $gray-dd;
}
header {
    nav {
        ul {
            display: flex;
            font-size: 28px;
            li { padding: 17px 30px; color:$black;
                a{font-size:23px; font-weight:bold;
                    &:hover{color:$orange;}
                }
                &.active{color:$orange;border-bottom:1px solid $orange; margin-bottom:-1px;
                    a{color:$orange; font-weight: bold;}
                }
            }
        }
    }
    .right-header{                
        display: flex;
        .select-box{
            display:flex;
            align-items: center;
            .select-icon{
                width: 20px;
                height: 20px;
                background-size: contain;
            }
        }
        .select-ic{
            width: 20px;
            height: 20px;
            background-image:url('../../resources/images/earth.png') ;
            background-size: contain;
            
        }
        select{
            cursor: pointer;
        }
    }

    select {margin: 0 20px 0 0;border:none;}
    a {
        img {padding: 0 0 0 40px;}
    }
}

.famliy-site{
    display:none;
    .famliy-header{
        padding : 15px 25px;
        background-color:$gray-33;
        display:flex;
        align-items: center;
        justify-content: space-between;
        .ic-close{
            width:15px;
            height: 15px;
            background-image: url('../../resources/images/icon_cancel_w.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
        p{color:$white;}

    }
    .famliy-content{
        display:flex;
        border-left:1px solid $gray-dd;
        border-right:1px solid $gray-dd;
        ul{
            width: 25%;
            padding : 15px 25px;
            border-right:1px solid $gray-dd;
            li{
                line-height: 1.7;
                &.famliy-title{
                    margin-top: 0;
                    margin-bottom: 15px;   
                }
                a:hover{color: $orange;}
            }
        }
        
    }
}
footer {
    background-color: $gray-33;
    ul {
        display: flex;
        margin-top: 30px;
        li {
            position: relative;
            padding: 0 20px;
            cursor: pointer;
            a {
                color: $white;
                font-size:15px;
            }
            &::after {
                content: "|";
                position: absolute;
                left: 0;
                color: $gray-99;
            }
            &.active {
                a {color: $orange;}
            }
        }

        :first-child {
            // padding: 0 20px 0 0;
            padding-left:0;
            &::after {
                content: "";
                position: absolute;
                left: 0;
            }
        }
    }

    .footer-info {
        padding: 20px 0;
        p {
            line-height: 1.76;
            font-size:15px;
            color:$gray-cc;
            span{display:inline-block; margin-left: 20px;}
        }
        .link-btn {
            margin: 0;
        }
    }

    //공지사항 팝업 뒤로가기
    .btn-prev{
        width: 160px;
        height: 45px;
        border:1px solid $gray-33;
    }
}

.gnb {
    .container{
        display: none;
    }
    border-top: 1px solid $gray-dd;
    .gnb-list {
        padding: 30px 0;
        ul {
            width: 20%;
            padding: 0 30px 0 0;
            .gnb-title {
                color: $gray-33;
                font-size: 20px;
                padding-bottom: 10px;
                a{
                    color: $gray-33;
                    font-size: 20px;
                    padding-bottom: 10px;
                    &:hover{color:$orange;transition:.2s all;}
                }
            }
            li {
                line-height: 30px;
               a{
                   font-size:16px;
                   color:$gray-66;
               }
            }
        }
    }
    .gnb-list-sub{
        padding : 30px 0;
        text-align: right;
        p{word-break: break-all;
            &:nth-child(1){font-size: 34px; font-weight:bold; color:$gray-33;}
            &:nth-child(2){font-size: 17px; font-weight: 400;margin:10px 0; text-align:right;color:$gray-66}
        }
    }
    .close-btn {
        display:block;
        background-image: url('../../resources/images/ic-gnb-close.png');
        width: 21px;
        height: 21px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 35px;
        right: -35px;
    }

}

.sitemaps {
    width:100%;
    height:100%;
    background-color: $white;
    padding: 30px 0;
    position: relative;
    display: block;

    .sitemap-list {
        width: 20%;
        border-left: 1px solid $gray-dd;
        padding: 0 20px;
        h2 {
            color: $orange;
            font-size: 24px;
            font-weight: bold;
        }
        ul {
            margin-top: 30px;
            .sitemap-title {
                color: $gray-33;
                font-weight: bold;
                font-size: 18px;
                padding-bottom: 15px;
                >a{
                    color: $gray-33;
                    font-weight: bold;
                    font-size: 18px;
                    padding-bottom: 15px;
                }
            }
            li {
               a{
                   color:$gray-66;
                   span{font-size:15px;}
               }
            }
        }
    }
    .close-btn {
        display:block;
        background-image: url('../../resources/images/ic-gnb-close.png');
        width: 21px;
        height: 21px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 35px;
        right: 10%;
    }

}
// sitemap modal
.modal{
    .modal-dialog{
        &.sitemap{
            width: 100%; max-width:100%; position: absolute;bottom: auto; left:50%; transform: translate(-50%, 0);
        }
    }
}

.search-bar {
    background-color: $white;
    padding: 100px 0;
    &.main-search{
        width: 100%;
        position: fixed;
        z-index:99;
        display: none;
    }
    .inputSearch{
        width: 40%;
        margin:0 auto;
        .form-control{
            border-right:0;
            &:focus{
                border-top:2px solid $orange;
                border-bottom:2px solid $orange;
                border-left:2px solid $orange;
            }
        }
        .input-group-text{
            background-color: $white;
            transition: 0.3s;
            &.active{
                border-top:2px solid $orange;
                border-bottom:2px solid $orange;
                border-right:2px solid $orange;
                border-left:0;
                transition: 0.3s;
            }
            i{color:$gray-99;}
        }
    }
    .search {
            width: 100%;
            position: relative;
            display: flex;
        }
        .searchTerm {
            width: 100%;
            border: 3px solid $gray-dd;
            border-right: none;
            padding: 15px;
            height: 60px;
            outline: none;
            color: #9DBFAF;
        }
        
        .searchTerm:focus{
          color: red;
        }
        
        .searchButton {
            width: 40px;
            height: 60px;
            border: 3px solid $gray-dd;
            border-left:none;
            background: none;
            text-align: center;
            color: #fff;
            cursor: pointer;
            font-size: 20px;
            i{color:$gray-dd;}
        }
        
        /*Resize the wrap to see the search bar change!*/
        .search-wrap{
            width: 50%;
            margin:0 auto;
        }

        .close-btn {
            display:block;
            background-image: url('../../resources/images/ic-gnb-close.png');
            width: 21px;
            height: 21px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 35px;
            right: 15%;
        }
    &.ir{
        display: block;
        padding:0;
        text-align: right;
        .inputSearch{
            width: 250px;
            float: right;
            margin : 20px 0;
            .form-control{
                height: 40px;
                border:1px solid $gray-33;
                border-right:0;
            }
            .input-group-text {
                height: 40px;
                background-color: $white;
                border:1px solid $gray-33;
                border-left:0;
            }
        }
    }
    &.result{
        display: block;
        background-color: $gray-dd;
        padding: 50px 0;
    }
}

.sub-content{
    position: relative;
    padding:69px 0 0 0;
    .sub-bg{
        width:100%;
        height: 80vh;
        position: absolute;
        top: 69px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        z-index: -1;
    }
    .title-box{
        padding :138px 0;
        .title{
            font-size: 48px;
            color: $white;                
            text-shadow: 0 0 6px rgba(0,0,0,0.2);
            font-weight: bold;
        }
        p{width:40%;color:$white; font-size: 18px;line-height: 1.5;
        text-shadow: 0 0 6px rgba(0,0,0,0.2);}
    }
}
.content-body{
    background-color: $white;
    .section-location{
        display:flex;
        align-items: center;
        padding:22px 0 41px 0;
        .location-ic-home{
            width: 15px;
            height: 15px;
            background-image: url('../../resources/images/ic-home.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        span{font-size:15px;font-weight: 400;color:$gray-33;
            &:first-child{
                &::before{
                    content:"";
                    margin:0;
                }
            }
            &::before{
                content: "\f054"; 
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                margin: 0 10px;
                color:$gray-dd;
                font-size: 13px;
            }
        }
    }
    @at-root{
        .sub-title{
            width: 100%;
            border-bottom:1px solid $gray-dd;
            padding:24px 0;
            &.sub-pt{padding: 0 0 24px 0;}
            .sub-title-ic{
                width: 40px;
                height: 40px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            p{font-size:34px; font-weight: 700;margin-left: 20px;}
        }
    }
}
.sub-section-banner{
    margin:0;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .sub-section-text{
        padding : 100px 0;
        p{  
            text-shadow: 0.6px 0.8px 1px rgba(0, 0, 0, 0.3);
            &:nth-child(1){color:$white;font-size:30px;line-height: 48px;}
            &:nth-child(2){font-size: 21px ;color:$white; font-weight: 400; line-height: 48px;}
        }
    }   
}
.swiper-socket{
    width:100%;
    height: 350px;
    border:1px solid $gray-99;
    .swiper-wrapper{
        .swiper-slide{
            width: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    @at-root{
        .swiper-pagination{
            &.socket{
                width: 100%;
                bottom: 5%;
                left: 50%;
                transform: translate(-50%, -5%);
                padding:0 5rem;
                text-align: center;
                .swiper-pagination-bullet{
                    width: 10px;
                    height: 10px;
                    opacity: 1;
                    background-color: $white;
                    border:1px solid $gray-dd;
                    &.swiper-pagination-bullet-active{
                        background-color: $orange;
                        width: 10px;
                        height: 10px;
                        border-radius: 50px;
                    }
                }
            }
            &.bending{
                width: 100%;
                bottom: 5%;
                left: 50%;
                transform: translate(-50%, -5%);
                padding:0 5rem;
                text-align: center;
                .swiper-pagination-bullet{
                    width: 10px;
                    height: 10px;
                    opacity: 1;
                    background-color: $white;
                    border:1px solid $gray-dd;
                    &.swiper-pagination-bullet-active{
                        background-color: $orange;
                        width: 10px;
                        height: 10px;
                        border-radius: 50px;
                    }
                } 
            }
        }
    }
}
// .modal{
//     .modal-dialog{
//         &.language{
//             width: 100%;
//             height: 100%;
//             position: relative;
//             left: inherit;
//             bottom: inherit;
//             .modal-content{
//                 width: 90px;
//                 height: 120px;
//                 position: absolute;
//                 top:50px;
//                 right:220px;
//             }
//             .modal-body{
//                 padding:0;
//                 .content-text{
//                     a{display:inline-block}
//                 }
//             }
//         }
//     }
// }

.modal-footer{
    margin:0 auto;
    
    &.notice{
        padding:0;
    }
   
    @at-root{
        .btn{
            width: 100%;
            margin : 0 auto;
        }
        .list-view-btn{
            width: 160px;
            height: 45px;
            display:inline-block;
            line-height: 45px;
            background-color: $orange;
            color: $white;
            span{margin-bottom:2px;}
        }
    }
   
}
.modal-b-p{
    padding-bottom:120px;
}

///aside
aside{
    width:310px;
    position: fixed;
    right:10px;
    bottom:50px;
    transform: translate(-10px ,-50px);
    z-index:10;
    @at-root{
        .aside-banner{
            display:flex;
            align-items: flex-end;
            background-color: $white;
            padding : 20px 30px;
            border:1px solid $gray-dd;
            .aside-text{
                width: 200px;
                .title{font-size: 18px; font-weight: bold; color:$orange; line-height: 26px; margin-bottom:5px;}
                .content{font-size: 16px; color:$gray-33; line-height: 26px;}
            }
            .aside-ic{
                width: 50px;
                height: 50px;
                background-image: url('../../resources/images/aside-01.png');
                background-repeat: no-repeat;
                margin-left: 30px;
            }

            &:hover{
                border:1px solid $orange;
                background-color: $orange;
                transition: all .5s;
                .aside-text{
                    .title{color:$white}
                    .content{color:$white}
                }
                .aside-ic{
                    background-image: url('../../resources/images/aside-02.png');
                }
    
            }
        }
    }
    
}
@include media-breakpoint-down(sm){
    aside{
        display:none;
    }
}

//제품 팝업슬라이드
.lightbox .lb-image {
    display: block;
    width: 100% !important;
    height: 100% !important;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid $white;
  }
  .lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 50% ;
    height: 50% !important;
    margin: 0 auto;
    border-radius: 4px;
    background-color: $white;
  } 
  .lb-dataContainer{
      position: absolute;
      top: -10%;
      left: 50%;
      transform:translate(-50%, 10%);
      .lb-details{
          width: 100%;
          text-align: center;
          .lb-caption{
              font-size: 20px;
              font-weight: bold;
              color:$white;
          }
      }
  }
.lb-outerContainer{
    &.glass{
        position: relative;
        *zoom: 1;
        width: 40% !important;
        height: 50% !important;
        margin: 0 auto;
        background-color: transparent !important;
        .lb-image{
            width: 50% !important;
            margin: 0 auto;
            border:none !important;
        }
    }
    &.bending{
        width: 70% !important;
        .lb-nav{
            width:100vw;
            a.lb-prev {
                width:100px; 
                height: 100px;
                position: absolute;
                left:60px;
                top: 50%;
                transform: translate(0, -50%);
                background: url(../../resources/images/btn-left.png) 10% 48% no-repeat;
                opacity: 1;
                float: inherit;
            }
            a.lb-next {
                width:100px; 
                height: 100px;
                position: absolute;
                right:60px;
                top: 50%;
                transform: translate(0, -50%);
                background:url(../../resources/images/btn-right.png) 90% 48% no-repeat;
                opacity: 1;
                float: inherit;
            }
        }
        .lb-image{
            border:0;
            border-radius:0;
        }
    }
    &.connector{
        position: relative;
        *zoom: 1;
        width: 684px !important;
        height: 545px !important;
        margin: 0 auto;
        border-radius: 4px;
        background-color: $white;
        .lb-nav{
            width:100vw;
            a.lb-prev {
                width:100px; 
                height: 100px;
                position: absolute;
                left:60px;
                top: 50%;
                transform: translate(0, -50%);
                background: url(../../resources/images/btn-left.png) 10% 48% no-repeat;
                opacity: 1;
            }
            a.lb-next {
                width:100px; 
                height: 100px;
                position: absolute;
                right:60px;
                top: 50%;
                transform: translate(0, -50%);
                background:url(../../resources/images/btn-right.png) 90% 48% no-repeat;
                opacity: 1;
            }
        }
        .lb-image{
            img{
                width: 100%;
            }
        }
    }
    
 } 
.lb-dataContainer{
    &.bending{
        width :100% !important;
        position: absolute;
        top: -11%;
        left: 50%;
        transform:translate(-50%, 10%);
        .lb-data{
            .lb-details{
                width: 100% !important;
                text-align: center !important;
                span{}
            }
            .lb-close{
                display:none;
                right:5%;
            }
        }
    }
    &.connector{
        width: 100% !important;
        position: absolute;
        top: -8%;
        left: 50%;
        transform:translate(-50%, 10%);
        .lb-data{
            .lb-details{
                width: 100% !important;
                text-align: center !important;
                span{}
            }
            .lb-close{
                display:none;
                right:5%;
            }
        }
    }
}
@include media-breakpoint-down(sm){
    .lb-outerContainer {
        &.bending{
            width: 90% !important;
        }
        &.connector{
            position: relative;
            *zoom: 1;
            width: 90% !important;
            height: 50% !important;
            margin: 0 auto;
            border-radius: 4px;
            background-color: $white;
            .lb-image{
                img{
                    width: 100%;
                }
            }
            .lb-nav{
                a.lb-prev {
                    width:30px; 
                    height: 30px;
                    left:2px;
                }
                a.lb-next {
                    width:30px; 
                    height: 30px;
                    right:2px;
                    top: 50%;
                }
            }
        }
      } 
      .lb-dataContainer{
        &.bending{
            top: -25%;
            .lb-data{
                .lb-details{
                    width: 100% !important;
                    text-align: center !important;
                    span{font-size:16px;}
                }
                .lb-close{
                    width:15px;
                    height: 15px;
                }
            }
        }
        &.connector{
            top: -15%;
            .lb-data{
                .lb-details{
                    width: 100% !important;
                    text-align: center !important;
                    span{font-size:16px;}
                }
                .lb-close{
                    width:15px;
                    height: 15px;
                }
            }
        }
    }
}
 
@include media-breakpoint-down(xl){
    header {
        padding :10px;
        nav {
            ul {
                display: flex;
                font-size: 20px;
                li { padding: 10px 15px; font-weight: 700; color:$black;
                    a{font-size:19px;}
                    &.active{color:$orange;border-bottom:1px solid $orange;
                        a{color:$orange;}
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md){
    nav{display:none;}
    .gnb{display:none;}
    .sitemaps{
        .sitemap-list{
            margin-top: 50px;
        }
        .close-btn{
            top: 20px;
            right: 20px;
        }
    }
    //헤더푸터
    header{
        padding :10px;
        select {margin: 0 5px 0 0;}
        a {
            img {padding: 0 0 0 10px;}
        }
        .logo{
            img{width:100%;}
        }
        .right-header{                
            display: flex;
            select{display:none;}
            .select-ic{width: 0;}
        }
    }
    .search-bar{
        padding : 50px 0;
        .inputSearch{
            width: 60%;
        }
        .input-group-text{
            height: 45px;
        }
        .close-btn{
            top: 20px;
            right: 20px;
        }
    }
    footer{
        .link-btn{
            margin-top: 20px;
        }
        ul{width: 100%;flex-flow:wrap; 
            :first-child{padding:0;
                
            }
            li{padding : 0 20px 0 0; 
                &::after{content:""}
                a{
                    font-size:15px;
                }
             }
        }
    }
    .famliy-site{
        display:none;
        .famliy-content{
            ul{ width: 50%;}
        }
    }
    //컨텐츠
    .content-body{
        padding : 0 10px;
        .section-location{
            padding:15px 0;
            span{font-size:14px;font-weight: 400;}
        }
        .sub-title{
            width: 100%;
            border-bottom:1px solid $gray-dd;
            padding:15px 0;
            &.sub-pt{padding: 0 0 15px 0;}
            .sub-title-ic{
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            p{font-size:26px; font-weight: 700;margin-left: 15px;
               span{font-size:14px;}
            }
        }
    }
    .sub-content{
        padding : 60px 0 0 0;
        .sub-bg{
            background-size: cover;
            top:60px;
        }
        .title-box {
            padding : 80px 10px;
            .title{font-size:36px;}
            p{width: 80%; font-size:17px;}
        }
    }
    

    .sub-section-banner{
        margin: 0;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        p{padding : 40px 0; color:$white;font-size:22px;line-height: 1.6;}
    }

    .detail-title{
        font-size: 30px;
        margin:70px 0 30px 0;
    }
    .swiper-socket{
        width: 100%;
        height: 100%;
    }
}
@include media-breakpoint-down(sm){
    section{padding : 20px 0;}
   
    .sub-section-banner{
        p{
            padding:25px 0;
        }
    }
    .section-location{
        span{font-size:14px;}
    }
    footer{
        .footer-info{
            p{font-size:14px; 
                span{margin-left:0;}
            }
        }
        ul{
            li{
                a{font-size:14px;}
                &:after{content:"";}
            }
        }
    }
}




   

















    

  















