
.wrap{
    padding :20px;
}

#wrap{
    header {
        nav {
            ul {
                display: flex;
                font-size: 28px;
                li { padding: 20px 30px; font-weight: 700; color:$black;
                    &.active{color:$orange;border-bottom:2px solid $orange;
                        a{color:$orange;}
                    }
                }
            }
        }
        select {margin: 0 20px 0 0;border:none;}
        a {
            img {padding: 0 0 0 40px;}
        }
    }
  
    footer {
        margin-top: 100px;
        background-color: $gray-33;
        ul {
            display: flex;
            margin-top: 30px;
            li {
                position: relative;
                padding: 0 20px;
                a {
                    color: $white;
                    font-size: 18px;
                }
                &::after {
                    content: "|";
                    position: absolute;
                    left: 0;
                }
                &.active {
                    a {color: $orange;}
                }
            }

            :first-child {
                padding: 0 20px 0 0;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                }
            }
        }

        .footer-info {
            padding: 70px 0;
            p {
                line-height: 1.76;
                font-size: 17px;
                color:$white;
                span{color:$white;}
            }
            .link-btn {
                margin: 0;
            }
        }
    }

    .gnb {
        border-top: 1px solid $gray-dd;
        display: none;
        position: relative;
        .gnb-list {
            padding: 30px 0;

            ul {
                width: 15%;
                padding: 0 30px 0 0;

                .gnb-title {
                    color: $black;
                    font-size: 24px;
                    padding-bottom: 20px;
                    font-weight: 700;
                }

                li {
                    color: $black;
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
        .gnb-list-sub{
            padding : 30px 0;
            text-align: right;
            p{word-break: keep-all;
                &:nth-child(1){font-size: 32px;}
                &:nth-child(2){font-size: 20px; font-weight: 300;margin:20px 0;}
            }
            >div{
                width: 150px;
                height: 100px;
                border:1px solid $gray-dd;
                float: right;
            }
        }
        .close-btn {
            position: absolute;
            top: 35px;
            right: 10%;

            i {
                font-size: 30px;
                color: $orange;
            }
        }

    }

    .sitemaps {
        background-color: $white;
        padding: 30px 0;
        border: 1px solid $gray-dd;
        position: relative;
        display: none;

        .sitemap-list {
            border-left: 1px solid $gray-dd;
            padding: 0 30px;

            h2 {
                color: $orange;
                font-size: 28px;
            }

            ul {
                margin-top: 30px;
                .sitemap-title {
                    color: $black;
                    font-weight: 700;
                    font-size: 24px;
                    padding-bottom: 15px;
                }

                li {
                    color: $black;
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }

        .close-btn {
            position: absolute;
            top: 35px;
            right: 10%;

            i {
                font-size: 30px;
                color: $orange;
            }
        }

    }

    .search-bar {
        display: none;
        background-color: $white;
        padding: 100px 0;
        position: relative;

        .inputSearch {
            width: 50%;
            height: 60px;
            margin: auto;
            background-color: $white;

            .input-group-append {
                height: 60px;
            }

            .form-control {
                border-right: 0px;
            }

            .input-group-text {
                background-color: $white;
                border-left: 0px;
            }
        }

        .close-btn {
            position: absolute;
            top: 35px;
            right: 10%;

            i {
                font-size: 30px;
                color: $orange;
            }
        }
    }
    @include media-breakpoint-down(xl){
        header {
            nav {
                ul {
                    display: flex;
                    font-size: 20px;
                    li { padding: 10px 15px; font-weight: 700; color:$black;
                        &.active{color:$orange;border-bottom:1px solid $orange;
                            a{color:$orange;}
                        }
                    }
                }
            }
           
        }
    }
    @include media-breakpoint-down(md){
        nav{display:none;}
        .gnb{display:none;}
        .sitemaps{
            .sitemap-list{
                margin-top: 50px;
            }
            .close-btn{
                top: 20px;
                right: 20px;
            }
        }
        
        header{
            padding :10px 0;
            select {margin: 0 5px 0 0;}
            a {
                img {padding: 0 0 0 10px;}
            }
            .logo{
                img{width:60%;}
            }
            .left-header{
                display: flex;
                img{width:40px;}
            }
        }
        .search-bar{
            padding : 50px 0;
            .inputSearch{
                width: 60%;
            }
            .input-group-text{
                height: 45px;
            }
            .close-btn{
                top: 20px;
                right: 20px;
            }
        }
        footer{
            .link-btn{
                margin-top: 20px;
            }
            ul{width: 100%;flex-flow:wrap; 
                :first-child{padding:0;}
                li{padding : 0 10px; 
                    a{
                        font-size:15px;
                    }
                 }
            }
        }
    }
 
    .sub-content{
        position: relative;
        .sub-bg{
            width:100%;
            height: 80vh;
            position: absolute;
            top: 0;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }
        .title-box{
            padding :120px 0;
            .title{
                font-size: 60px;
                color: $white;                
                text-shadow: 0 0 8px rgba(0,0,0,0.2);
            }
            p{width:40%;color:$white; font-size: 24px;line-height: 1.5;
            text-shadow: 0 0 8px rgba(0,0,0,0.2);}
        }
    }
    .content-body{
        background-color: $white;
        padding: 0 70px;
        .section-location{
            padding:30px 0;
            span{font-size:19px;font-weight: 300;
                &:first-child{
                    &::before{
                        content:"";
                        margin:0;
                    }
                }
                &::before{
                    content: "\f054"; 
                    font-family: "Font Awesome 5 Free";
                    font-weight: 600;
                    margin: 0 10px;
                    color:$gray-dd;
                    font-size: 13px;
                }
            }
        }
        .sub-title{
            width: 100%;
            border-bottom:1px solid $gray-dd;
            padding:30px 0;
            .sub-title-ic{
                width: 40px;
                height: 40px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            p{font-size:42px; font-weight: 700;margin-left: 30px;}
        }
    }
    .sub-section-banner{
        margin:60px 0;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        p{padding : 130px 0; color:$white;font-size:30px;line-height: 1.6;}
    }
    @include media-breakpoint-down(md){
    
        .content-body{
            padding : 0 10px;
            .section-location{
                padding:15px 0;
                span{font-size:14px;font-weight: 300;}
            }
            .sub-title{
                width: 100%;
                border-bottom:1px solid $gray-dd;
                padding:15px 0;
                .sub-title-ic{
                    width: 30px;
                    height: 30px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                p{font-size:22px; font-weight: 700;margin-left: 15px;}
            }
        }
        .sub-content .title-box {
            padding: 50px 0;
            .title{font-size:36px;}
            p{width: 80%; font-size: 16px;}
        }
        .sub-section-banner{
            margin:30px 0;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            p{padding : 80px 0; color:$white;font-size:22px;line-height: 1.6;}
        }
    }
    .detail-title{
        font-size: 30px;
        margin:70px 0 30px 0;
    }
}