// /* noto sans */
// @font-face {
// 	font-family: 'Noto Sans KR';
// 	font-weight: 100;
// 	src: url(../fonts/NotoSansCJKkr-Thin.eot);
// 	src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.eot?#iefix) format('embedded-opentype'),
// 		  url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.woff) format('woff'),
// 		  url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.ttf) format('truetype');
// }
// @font-face {
//       font-family: 'Noto Sans KR';
//       font-weight: 300;
//       src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.eot);
//       src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.eot?#iefix) format('embedded-opentype'),
//             url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.woff) format('woff'),
//             url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.ttf) format('truetype');
// }
// @font-face {
//       font-family: 'Noto Sans KR';
//       font-weight: 400;
//       src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot);
//       src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
//             url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff) format('woff'),
//             url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.ttf) format('truetype');
// }
// @font-face {
//       font-family: 'Noto Sans KR';
//       font-weight: 500;
//       src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot);
//       src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot?#iefix) format('embedded-opentype'),
//             url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff) format('woff'),
//             url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.ttf) format('truetype');
// }
// @font-face {
//       font-family: 'Noto Sans KR';
//       font-weight: 700;
//       src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot);
//       src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'),
//             url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff) format('woff'),
//             url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.ttf) format('truetype');
// }
// @font-face {
// 	font-family: 'Noto Sans KR';
// 	font-weight: 900;
// 	src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Black.eot);
// 	src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Black.eot?#iefix) format('embedded-opentype'),
// 		  url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Black.woff) format('woff'),
// 		  url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Black.ttf) format('truetype');
// }

// /* SharpSans  */
// @font-face {
// 	font-family: 'SharpSans';
// 	font-weight: 400;
// 	src: url(../fonts/SharpSans/SharpSans-Book.eot);
// 	src: url(../fonts/SharpSans/SharpSans-Book.eot?#iefix) format('embedded-opentype'),
// 		  url(../fonts/SharpSans/SharpSans-Book.woff) format('woff'),
// 		  url(../fonts/SharpSans/SharpSans-Book.ttf) format('truetype');
// }
// @font-face {
// 	font-family: 'SharpSans';
// 	font-weight: 500;
// 	src: url(../fonts/SharpSans/SharpSans-Medium.eot);
// 	src: url(../fonts/SharpSans/SharpSans-Medium.eot?#iefix) format('embedded-opentype'),
// 		  url(../fonts/SharpSans/SharpSans-Medium.woff) format('woff'),
// 		  url(../fonts/SharpSans/SharpSans-Medium.ttf) format('truetype');
// }
// @font-face {
// 	font-family: 'SharpSans';
// 	font-weight: 700;
// 	src: url(../fonts/SharpSans/SharpSans-Bold.eot);
// 	src: url(../fonts/SharpSans/SharpSans-Bold.eot?#iefix) format('embedded-opentype'),
// 		  url(../fonts/SharpSans/SharpSans-Bold.woff) format('woff'),
// 		  url(../fonts/SharpSans/SharpSans-Bold.ttf) format('truetype');
// }
// @font-face {
// 	font-family: 'SharpSans';
// 	font-weight: 900;
// 	src: url(../fonts/SharpSans/SharpSans-ExtraBold.eot);
// 	src: url(../fonts/SharpSans/SharpSans-ExtraBold.eot?#iefix) format('embedded-opentype'),
// 		  url(../fonts/SharpSans/SharpSans-ExtraBold.woff) format('woff'),
// 		  url(../fonts/SharpSans/SharpSans-ExtraBold.ttf) format('truetype');
// }


/* NanumSquare  */

// @font-face {
// 	font-family: 'NanumSquare';
// 	font-weight: 400;
// 	src: url(../fonts/NanumSquare/NanumSquareR.eot);
// 	src: url(../fonts/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
// 		  url(../fonts/NanumSquare/NanumSquareR.woff) format('woff'),
// 		  url(../fonts/NanumSquare/NanumSquareR.ttf) format('truetype');
// }
// @font-face {
// 	font-family: 'NanumSquare';
// 	font-weight: 700;
// 	src: url(../fonts/NanumSquare/NanumSquareB.eot);
// 	src: url(../fonts/NanumSquare/NanumSquareB.eot?#iefix) format('embedded-opentype'),
// 		  url(../fonts/NanumSquare/NanumSquareB.woff) format('woff'),
// 		  url(../fonts/NanumSquare/NanumSquareB.ttf) format('truetype');
// }

@font-face {
	font-family: 'nanum-square-r';
	src: url('../fonts/nanumsquares/nanumsquarer.eot');
	src: url('../fonts/nanumsquares/nanumsquarer.eot?#iefix') format('embedded-opentype'),
	url('../fonts/nanumsquares/nanumsquarer.ttf') format('truetype'),
	url('../fonts/nanumsquares/NanumSquareR.woff') format('woff'),
	url('../fonts/nanumsquares/nanumsquarer.svg#nanumsquarerregular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'nanum-square-b';
	src: url('../fonts/nanumsquares/nanumsquareb.eot');
	src: url('../fonts/nanumsquares/nanumsquareb.eot?#iefix') format('embedded-opentype'),
	url('../fonts/nanumsquares/nanumsquareb.ttf') format('truetype'),
	url('../fonts/nanumsquares/NanumSquareB.woff') format('woff'),
	url('../fonts/nanumsquares/nanumsquareb.svg#nanumsquarebregular') format('svg');
	font-weight: 700;
	font-style: bold;
}
@font-face {
	font-family: 'nanum-square-eb';
	src: url('../fonts/nanumsquares/nanumsquareeb.eot');
	src: url('../fonts/nanumsquares/nanumsquareeb.eot?#iefix') format('embedded-opentype'),
	url('../fonts/nanumsquares/nanumsquareeb.ttf') format('truetype'),
	url('../fonts/nanumsquares/NanumSquareeb.woff') format('woff');
	font-weight: 900;
	font-style: bolder;
}
