<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li class="active"><a href="">사업장 안내</a></li>
                    <li><a href="">개인정보취급방침</a></li>
                    <li><a href="">이메일무단수집거부</a></li>
                    <li><a href="">부정비리 신고센터</a></li>
                    <li><a href="">사이트 맵</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-info">
            <div class="col-md-6 col-sm-12 col-12 text-left">
                <p>8523 경기도 화성시 정남면 내향안길 240-5 <span>대표전화 82-70-4050-3100</span>
                </p>
                <p>© 2020 제이앤티씨 ALL RIGHTS RESERVED</p>
            </div>
            <div class="col-md-6 col-sm-12 col-12 text-right">
                <a href="" class="link-btn">패밀리사이트<img src="../../resources/images/ic-s-right.png"
                        alt="패밀리사이트"></a>
            </div>
        </div>
    </div>
</footer>