<div class="container">
    <div class="famliy-site">
        <div class="famliy-header">
            <p class="c-s-text m-0">패밀리 사이트</p>
            <a href="javascript:void(0)" onclick="closeFamilySite();"><div class="ic-close"></div></a>
        </div>
        <div class="famliy-content">
            <ul>
                <li class="famliy-title c-m-text bold">국내</li>
                <li><a href="http://thejnte.com" target="_blink">제이앤티이 (JNTE)</a></li>
                <li><a href="http://thejntg" target="_blink">제이앤티지 (JNTG)</a></li>
                <li><a href="javascript:void(0)">코메트 (COMET)</a></li>
            </ul>
            <ul>
                <li class="famliy-title c-m-text bold">해외</li>
                <li><a href="http://thejntcvina.com" target="_blink">JNTC VINA (베트남)</a></li>
                <li><a href="http://theqdjntc.com" target="_blink">청도JNTC유한공사 (중국)</a></li>
            </ul>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col p-0">
                <ul>
                    <li class="active"><a href="../intro/work_domestic.html">사업장 안내</a></li>
                    <li><span><a href="#footer_privacy" data-toggle="modal">개인정보취급방침</a></span></li>
                    <li><span><a href="#footer_email" data-toggle="modal">이메일무단수집거부</a></span></li>
                    <li><span><a href="#footer_center" data-toggle="modal">부정비리 신고센터</a></span></li>
                    <li class="only_w"><a href="javascript:void(0)" onclick="openSiteMap()">사이트 맵</a></li>
                    <li class="only_mo"><a href="javascript:void(0)" onclick="openMobileMenu()">사이트 맵</a></li>
                    <li><span><a href="#footer_notice_list" data-toggle="modal">게시판</a></span></li>
                </ul>
            </div>
        </div>
        <div class="row footer-info">
            <div class="col-md-8 col-sm-12 col-12 text-left p-0">
                <p><strong>커넥터 사업부 (제 1사업장)</strong>  18516 경기도 화성시 정남면 구내길 81-9<span> 대표전화 031-354-2590</span>
                </p>
                <p><strong>강화유리 사업부 (제 2사업장)</strong>  18523 경기도 화성시 정남면 내향안길 240-5<span> 대표전화 070-4050-3100</span>
                </p>
                <p class="m-t-30">© 2020 제이앤티씨 ALL RIGHTS RESERVED</p>
            </div>
            <div class="col-md-4 col-sm-12 col-12 text-right p-0">
                <a href="javascript:void(0)" class="link-btn" data-toggle="modal" data-target="#family">패밀리사이트<img src="../../resources/images/ic-more.png" alt="패밀리사이트"></a>
            </div>
        </div>
    </div>
</footer>
<!-- 개인정보처리방침 -->
<div class="modal fade" id="footer_privacy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog info none" role="document">
        <div class="modal-content">
            <div class="modal-header footer-modal">
                <div class="modal-popup-header">
                    <div class="sub-title d-flex align-items-center">
                        <div class="sub-title-ic" style="background-image:url('../../resources/images/ic-footer-p-01.png')">
                        </div>
                        <p>개인정보처리방침</p>
                    </div>
                    <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-btn"></a>
                </div>
            </div>
            <div class="modal-body">
                <div class="content-scroll">
                    
                    <p>
                        제이앤티씨 (이하 ‘회사’라고 함)는 이용자의 개인정보를 보호하기 위하여, 「정보통신망 이용촉진 및 정보보호에 관한 법률」, 「개인정보보호법」, 개인정보보호 규정 및 가이드라인을 준수하고 있습니다.<br>
                        <br>
                        회사는 개인정보처리방침을 통하여 이용자의 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
                    </p>
                    <br>
                    <div class="cont">
                        <h5 class="c-m-text black">
                            1. 개인정보 처리(수집·이용) 목적
                        </h5>
                        <p class="c-s-text m-0">
                            회사는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며, 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.
                        </p>
                            <ul>
                                <li>
                                    -	회사, 제품, IR 등 (문의 및 답변 등 기타 서비스 제공)
                                </li>
                            </ul>
                    </div>
                
                    <div class="cont">
                        <h5 class="c-m-text black">
                            2. 개인정보 처리·이용 및 보유기간
                        </h5>
                        <p class="c-s-text m-0">
                            회사는 법령에 따른 개인정보 처리·보유기간 또는 개인정보 수집 시에 동의 받은 개인정보 처리·보유기간 내에서만 개인정보를 처리하며 수집 및 이용 목적이 달성된 후에는 지체없이 파기합니다.<br>
                            <br>
                            개인정보는 상담처리 내역의 근거 자료로 활용하기 위하여 1년간 보유합니다. 다만, 다른 법령에 따라 보존하여야 하는 경우에는 개인정보를 파기하지 않고 보존할 수 있습니다.
                        </p>
                    </div>
                  
                    <div class="cont">
                        <h5 class="c-m-text black">
                            3. 정보주체의 권리·의무 및 그 행사방법
                        </h5>
                        <p class="c-s-text m-0">
                            정보주체는 언제든지 등록되어 있는 개인정보의 조회/수정/동의철회를 요청하실 수 있습니다. 정보주체가 회사의 개인정보관리부서에 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.<br>
                            회사는 정보주체가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다.
                            <br>
                            만 14세 미만 아동의 경우, 법정대리인이 아동의 개인정보를 조회하거나 수정할 권리, 수집 및 이용 동의를 철회할 권리를 가집니다.<br>
                            <br>
                            회사는 정보주체 혹은 법정대리인의 요청에 의해 해지 또는 삭제된 개인정보에 대해 개인정보처리방침에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용하지 않습니다.
                        </p>
                    </div>
                    <div class="cont">
                        <h5 class="c-m-text black">
                            4. 처리하는 개인정보의 항목
                        </h5>
                        <p class="c-s-text m-0">
                            회사는 다음과 같은 개인정보를 수집하고 있습니다.
                        </p>
                        <ul>
                            <li>
                                - 개인정보 수집 항목 : 이름, 이메일 주소, 연락처(전화번호 또는 휴대전화번호)
                            </li>
                        </ul>
                    </div>
                    
                    <div class="cont">
                        <h5 class="c-m-text black">
                            5. 개인정보 파기
                        </h5>
                        <p class="c-s-text m-0">
                            회사는 수집한 개인정보의 수집 · 이용 목적이 달성되거나 그 보유기간이 종료되는 경우 사용자의 동의, 이용약관, 관련 법령에 따라 보관이 필요한 경우를 제외하고 해당 개인정보를 지체 없이 파기합니다.
                        </p>
                        <ul>
                            <li>
                                (파기방법) 
                            </li>
                            <li>
                                -	개인정보가 기록된 출력물, 서면 등: 파쇄 또는 소각
                            </li>
                            <li>
                                -	전자적 파일 형태 : 복원이 불가능한 방법으로 영구 삭제
                            </li>
                        </ul>
                    </div>
                    <div class="cont">
                        6. 개인정보 자동 수집 장치의 설치/운영 및 거부
                        회사는 정보주체의 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용하지 않습니다.
                    </div>
                    <br>
                    <div class="cont">
                        <h5 class="c-m-text black">
                            7. 개인정보 안전성 확보조치
                        </h5>
                        <p class="c-s-text m-0">
                            회사는 사용자의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 조치를 취하고 있습니다.
                        </p>
                        
                        <ul>
                            <li>
                                (관리적 조치)
                            </li>
                            <li>
                                - 개인정보의 안전한 관리를 위해 내부관리계획을 수립 및 시행하고 있습니다.
                            </li>
                            <li>
                                - 개인정보 취급자를 대상으로 연 1회 이상 정기적으로 교육 및 마인드 제고 활동을 실시하고 있습니다.
                            </li>
                            <li>
                                - 개인정보에 접근할 수 있는 인원을 최소한으로 제한하고 있습니다.
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                (기술적 조치)
                            </li>
                            <li>
                                - 회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안 프로그램을 설치하고 해킹 등 외부침입에 대응하고 있습니다.
                            </li>
                            <li>
                                - 정보주체의 개인정보와 비밀번호는 암호화되어 저장/관리되고 있으며 전송 시에도 별도의 보안기능을 사용하여 안전하게 관리하고 있습니다.
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                (물리적 조치)
                            </li>
                            <li>
                                - 전산실과 자료보관실 등의 보호구역을 운영하여 출입을 통제하고 있습니다.
                            </li>
                        </ul>
                    </div>
                    
                    <div class="cont">
                        <h5 class="c-m-text black">
                            8. 임직원의 개인정보 처리
                        </h5>
                        <p class="c-s-text m-0">
                            회사는 임직원의 개인정보 처리에 관하여도 본 개인정보 처리방침의 규정이 준용됩니다.
                        </p>
                    </div>
                    
                    <div class="cont">
                        <h5 class="c-m-text black">
                            9. 개인정보보호 책임자
                        </h5>
                        <p class="c-s-text m-0">
                            회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 사용자의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
                        </p>
                    
                        <table class="table tab-panel">
                            <thead>
                                <tr>
                                    <th class="text-center">구분</th>
                                    <th class="text-center">개인정보 보호 책임자</th>
                                    <th class="text-center">개인정보 보호 담당자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center">담당부서</th>
                                    <td class="text-center">관재팀</td>
                                    <td class="text-center">전산팀</td>
                                </tr>
                                <tr>
                                    <th class="text-center">직급</th>
                                    <td class="text-center">실장</td>
                                    <td class="text-center">팀장</td>
                                </tr>
                                <tr>
                                    <th class="text-center">성명</th>
                                    <td class="text-center">이동열</td>
                                    <td class="text-center">최원석</td>
                                </tr>
                                <tr>
                                    <th class="text-center">연락처</th>
                                    <td class="text-center">070-4050-3108</td>
                                    <td class="text-center">070-4050-3133</td>
                                </tr>
                                <tr>
                                    <th class="text-center">이메일</th>
                                    <td class="text-center">dylee@thejnt.com</td>
                                    <td class="text-center">guyver97@thejnt.com</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <p class="c-s-text">
                            기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
                        </p>
                        <ul>
                            <li>
                                - 한국인터넷진흥원 개인정보침해 신고센터 (http://privacy.kisa.or.kr 전화번호: 118)
                            </li>
                            <li>
                                - 대검찰청 사이버수사과 (www.spo.go.kr 전화번호 1301)
                            </li>
                            <li>
                                - 경찰청 사이버안전국 (www.cyberbureau.police.go.kr 전화번호 182)
                            </li>
                        </ul>
                    </div>
                    <div class="cont">
                        <h5 class="c-m-text black">
                            10. 개인정보 처리방침 변경
                        </h5>
                        <p class="c-s-text m-0">
                            개인정보처리방침은 시행일(2020년 11월 12일)로부터 적용되며, 법령 또는 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 전부터 공지사항을 통하여 고지할 것입니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 이메일 무단수집거부 -->
<div class="modal fade" id="footer_email" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog email" role="document">
        <div class="modal-content">
            <div class="modal-header footer-modal">
                <div class="modal-popup-header">
                    <div class="sub-title d-flex align-items-center">
                        <div class="sub-title-ic" style="background-image:url('../../resources/images/ic-footer-p-02.png')">
                        </div>
                        <p>이메일 무단수집거부</p>
                    </div>
                    <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-btn"></a>
                </div>
            </div>
            <div class="modal-body">
                <div class="content-text">
                    본 웹사이트는 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단 수집되는 것을 거부합니다. 이를 위반 시 『정보통신망 이용촉진 및
                    정보보호 등에 관한 법률』등에 의해 처벌 받을 수 있습니다.
                </div>
                <div class="content-text-sub fr">
                    <a href="http://www.spamcop.or.kr" target="_blink">불법 대응 센터 http://www.spamcop.or.kr</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 부정비리 신고센터 -->
<div class="modal fade" id="footer_center" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog center" role="document">
        <div class="modal-content">
            <div class="modal-header footer-modal">
                <div class="modal-popup-header">
                    <div class="sub-title d-flex align-items-center">
                        <div class="sub-title-ic" style="background-image:url('../../resources/images/ic-footer-p-03.png')">
                        </div>
                        <p>부정비리 신고센터</p>
                    </div>
                    <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-btn"></a>
                </div>
            </div>
            <div class="modal-body">
                <div class="content-text">
                    당사는 사업의 투명성 제고 및 윤리경영을 통한 건전한 기업문화 정착을 위한 부정비리 신고센터를 운영합니다. 임직원의 불공정한 업무처리나 직위를 이용한 부당한 요구 및
                    비리사실에 대한 제보를 육하원칙으로 받고 있습니다. 당사는 제보자에 대한 비밀보장과 불이익조치 금지 등을 규정하고 있습니다.
                </div>
                <div class="content-text-sub fl">
                    이메일 : <a href="http://ethics@thejnt.com" class="o-s-text">ethics@thejnt.com</a>
                </div>
                <a href="http://ethics@thejnt.com" target="_blink" class="link-btn">제보하기<img src="../../resources/images/ic-s-right.png" alt="자세히 보기"></a>
            </div>
        </div>
    </div>
</div>
<!-- 공지사항lsit -->
<div class="modal fade" id="footer_notice_list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog notice none" role="document">
        <div class="modal-content">
            <div class="modal-header footer-modal">
                <div class="modal-popup-header">
                    <div class="sub-title d-flex align-items-center">
                        <div class="sub-title-ic" style="background-image:url('../../resources/images/ic-footer-p-03.png')">
                        </div>
                        <p>공지사항</p>
                    </div>
                    <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-btn"></a>
                </div>
            </div>
            <div class="modal-body notice">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tap-1" role="tab"
                            aria-controls="home" aria-selected="true">거래처 공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tap-2" role="tab"
                            aria-controls="profile" aria-selected="false">일반 공지사항</a>
                    </li>

                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tap-1" role="tabpanel" aria-labelledby="home-tab">
                        <div class="table-wrap">
                            <table class="table ir">
                                <thead class="thead-light">
                                    <tr class="text-center">
                                        <th scope="col">번호</th>
                                        <th scope="col">제목</th>
                                        <th scope="col">자료 다운로드</th>
                                        <th scope="col">날짜</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="d-s-text"><a href="javascript:void(0)" onclick="goNoticeView()">협력사 바코드 발행 프로그램 IP 변경 메뉴얼 첨부드립니다.</a></td>
                                        <td class="text-center"><div class="ic-check"></div></td>
                                        <td class="text-center">2014.12.08</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="d-s-text">JNTC 윤리 경영 교안</td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2014.12.08</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td class="d-s-text">[거래처] JNTC 부정 비리 제보를 받습니다.</td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2015.08.13</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td class="d-s-text"></td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2015.09.25</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td class="d-s-text"></td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2015.09.25</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">6</td>
                                        <td class="d-s-text"></td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2015.09.25</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">7</td>
                                        <td class="d-s-text"></td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2015.09.25</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="d-s-text"></td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center"></td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-b-p">
                            <div class="pagination">
                                <ul class="d-flex align-items-center">
                                    <a href="#">
                                        <li><span class="left-pagination"></span></li>
                                    </a>
                
                                    <li>
                                        <a href="#">< </a> 
                                    </li> 
                                    <li>
                                        <a class="active" href="#"> 1</a>
                                    </li>
                
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                
                                    
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                
                                    
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                
                                    
                                    <li>
                                        <a href="#">5</a>
                                    </li>
                
                                    
                                    <li>
                                        <a href="#">6</a>
                                    </li>
                
                                    <li>
                                        <a href="#">> </a> 
                                    </li> 
                
                                    <a href="#">
                                        <li><span class="right-pagination"></span></li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tap-2" role="tabpanel" aria-labelledby="home-tab">
                        <div class="table-wrap">
                            <table class="table ir">
                                <thead class="thead-light">
                                    <tr class="text-center">
                                        <th scope="col">번호</th>
                                        <th scope="col">제목</th>
                                        <th scope="col">자료 다운로드</th>
                                        <th scope="col">날짜</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="d-s-text"><a href="javascript:void(0)" class="btn-next" onclick="goNoticeView()">제이앤티씨, 제1사업장(커넥터 사업부) 버스 노선표</a></td>
                                        <td class="text-center"><div class="ic-check"></div></td>
                                        <td class="text-center">2020.08.24</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="d-s-text">JNTC, JNTS, JNTG 전자세금계산서 수신 account@thejnt.com</td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2020.08.14</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td class="d-s-text"></td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2020.05.23</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td class="d-s-text"></td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2020.05.15</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td class="d-s-text"></td>
                                        <td class="text-center"><a href="" download="@"></a></td>
                                        <td class="text-center">2020.03.30</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                
                                </tbody>
                            </table>
                        </div>
                
                        <div class="modal-b-p">
                        	<div class="pagination">
                        	    <ul class="d-flex align-items-center">
                        	        <a href="#">
                        	            <li><span class="left-pagination"></span></li>
                        	        </a>
                                    
                        	        <li>
                        	            <a href="#">< </a> 
                        	        </li> 
                        	        <li>
                        	            <a class="active" href="#"> 1</a>
                        	        </li>
                                    
                        	        <li>
                        	            <a href="#">2</a>
                        	        </li>
                                    
                        	        
                        	        <li>
                        	            <a href="#">3</a>
                        	        </li>
                                    
                        	        
                        	        <li>
                        	            <a href="#">4</a>
                        	        </li>
                                    
                        	        
                        	        <li>
                        	            <a href="#">5</a>
                        	        </li>
                                    
                        	        
                        	        <li>
                        	            <a href="#">6</a>
                        	        </li>
                                    
                        	        <li>
                        	            <a href="#">> </a> 
                        	        </li> 
                                    
                        	        <a href="#">
                        	            <li><span class="right-pagination"></span></li>
                        	        </a>
                        	    </ul>
                        	</div> 
                        </div>                   
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 공지사항 view -->
<div class="modal fade" id="footer_notice_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog notice none">
        <div class="modal-content">
            <div class="modal-header footer-modal">
                <div class="modal-popup-header">
                    <div class="sub-title d-flex align-items-center">
                        <div class="sub-title-ic" style="background-image:url('../../resources/images/ic-footer-p-03.png')">
                        </div>
                        <p>공지사항</p>
                    </div>
                    <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-btn"></a>
                </div>
            </div>
            <div class="modal-body notice">
                
                <ul class="nav nav-tabs" id="myTab">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab">거래처 공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab">일반 공지사항</a>
                    </li>

                </ul>
                
                <section>

                    <div class="announcement-table">
                        
                        <div class="announcement">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="">
                                    <p class="c-m-text black bold">협력사 바코드 발행 프로그램 IP 변경 안내</p>
                                    <p class="c-s-text m-0">2020.08.20</p>
                                    <div class="d-flex align-items-center m-t-35">
                                        <div class="ic-check mr-2"></div>
                                        <p><span class="r-s-text bold">자료 다운로드 :</span> <a href="javascript:void(0)">20200525 협력사 바코드 프로그램IP 변경 메뉴얼.pptx(466.6K)</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="edit-announcement">
                            <p>협력사 바코드 발행 프로그램 IP 변경 메뉴얼 첨부드립니다.</p>
                            <p class="bold">문의 : 031-354-2590 (내선) 212, 221, 230</p>
                        </div>

                    </div>

                </section>
          
            </div>
            <div class="modal-footer notice">
                <div class="modal-b-p">
                    <button type="button" class="list-view-btn btn-default btn-prev" onclick="backNoticeView()">목록보기 <span class="d-inline-block ic-list-back"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 문의 메일보내기 -->
<div class="modal fade" id="send-mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog send none">
        <div class="modal-content">
            <div class="modal-header footer-modal">
                <div class="modal-popup-header">
                    <div class="sub-title d-flex align-items-center">
                        <div class="sub-title-ic" style="background-image:url('../../resources/images/ic-send.png')">
                        </div>
                        <p>문의 메일보내기</p>
                    </div>
                    <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-btn"></a>
                </div>
            </div>
            <div class="modal-body notice m-t-20"> 
                <table class="send">
                    <tbody>
                        <tr>
                            <th>받는사람</th>
                            <td><input type="text" class="form-control w-70" placeholder="강화유리 (서형석 팀장)"></td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td><input type="text" class="form-control w-70" placeholder="제목을 작성하세요"></td>
                        </tr>
                        <tr>
                            <th>작성자</th>
                            <td><input type="text" class="form-control w-100" placeholder="작성자 이름을 입력하세요"></td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td><input type="text" class="form-control w-100" placeholder="답변 받으실 메일 주소를 입력하세요"></td>
                        </tr>
                        <tr>
                            <th>문의내용</th>
                            <td><input type="text" class="form-control w-100 h-160" placeholder="문의하실 내용을 작성하세요"></td>
                        </tr>
                        <tr>
                            <th>파일첨부</th>
                            <td><input type="text" class="form-control w-100" placeholder="보내실 파일을 첨부하세요 (5M 이하 첨부 가능)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer notice">
                <div class="p-40">
                    <button type="button" class="send-btn">메일보내기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 공시 -->
<div class="modal fade" id="disclosure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog disclosure" role="document">
        <div class="modal-header disclosure-modal">
            <div class="modal-popup-header">
                <div class="sub-title d-flex align-items-center">
                    <div class="sub-title-ic" style="background-image:url('../../resources/images/ic-disclosure.png')">
                    </div>
                    <p>공시정보</p>
                </div>
                <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-btn"></a>
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-body">
               
                <iframe src="http://dart.fss.or.kr/" frameborder="0" width="100%" height="700px"></iframe>
              
            </div>
        </div>
    </div>
</div>

<!-- 언어 -->
<div class="modal fade" id="language" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog language" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="content-text">
                    <a href="javascript:void(0)" class="c-s-text bold">KOR</a>
                    <a href="javascript:void(0)" class="c-s-text bold">ENG</a>
                    <a href="javascript:void(0)" class="c-s-text bold">CHN</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 패밀리사이트 -->
<div class="modal fade" id="family" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog family" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="content-text">
                    <ul>
                        <li><a href="http://thejnte.com" target="_blink">제이앤티그륩</a></li>
                        <li><a href="http://thejnte.com" target="_blink">제이앤티이 (JNTE)</a></li>
                        <li><a href="http://thejntg" target="_blink">제이앤티지 (JNTG)</a></li>
                        <li><a href="javascript:void(0)">코메트 (COMET)</a></li>
                        <li><a href="http://thejntcvina.com" target="_blink">JNTC VINA (베트남)</a></li>
                        <li><a href="http://theqdjntc.com" target="_blink">청도JNTC유한공사 (중국)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

