<div class="header">
    <header>
        <div class="container d-flex align-items-center justify-content-between">
            <div class="logo"> <a href="../main/main.html"><img src="../../resources/images/logo.png" alt="JNTC 로고" class="p-0"> </a></div>
            <nav>
                <ul>
                    <li id="nav-1"><a href="../intro/summary.html">기업정보</a></li>
                    <li id="nav-2"><a href="../product/product_connector.html">제품</a></li>
                    <li id="nav-3"><a href="../technology/introduce.html">기술</a></li>
                    <li id="nav-4"><a href="../human/talent.html">인재/채용</a></li>
                    <li id="nav-5"><a href="../invest_info/ir_highlight.html">투자정보</a></li>
                </ul>
            </nav>
            <div class="right-header">
               <a href="javascript:void(0)" data-toggle="modal" data-target="#language" class="sel-language">
                    <div class="d-flex align-items-center position-relative" >
                        <div class="select-ic"></div>
                        <div>
                            <p class="country">KOR</p>
                        </div>
                        
                    </div>
                </a>

                <a href="javascript:void(0);" onclick="openSearch()"> <img
                        src="../../resources/images/search.png" alt="서치"> </a>
                <a href="#sitemap" class="only_w" data-toggle="modal"> <img
                        src="../../resources/images/menu.png" alt="메뉴바"> </a>
                <a href="javascript:void(0);" class="only_mo" onclick="openMobileMenu()"></a>
                <a href="javascript:void(0);" class="only_mo_close" onclick="closeMoblieBtn()"></a>
            </div>
        </div>
    </header>
   
    <!-- GNB -->
    <div class="gnb">
        <div class="container" id="gnb-1">
            <div class="row">
                <div class="col-9 gnb-list d-flex en-layout-1">
                    <ul>
                        <li class="gnb-title"><a href="../intro/summary.html">회사소개</a></li>
                        <li><a href="../intro/summary.html">개요</a></li>
                        <li><a href="../intro/ceo.html">CEO 인사말</a></li>
                        <li><a href="../intro/history.html">연혁/수상내역</a></li>
                        <li><a href="../intro/vision.html">비전</a></li>
                        <li><a href="../intro/ci.html">CI</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../business/cover_glass.html">사업소개</a></li>
                        <li><a href="../business/cover_glass.html">강화글라스</a></li>
                        <li><a href="../business/connector.html">커넥터</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../intro/work_domestic.html">사업장</a></li>
                        <li><a href="../intro/work_domestic.html">국내 사업장</a></li>
                        <li><a href="../intro/work_overseas.html">해외 사업장</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../intro/operation_quality.html">지속가능경영</a></li>
                        <li><a href="../intro/operation_quality.html">품질경영</a></li>
                        <li><a href="../intro/operation_hsf.html">환경경영 (HSF방침)</a></li>
                        <li><a href="../intro/operation_social.html">사회공헌</a></li>
                        <li><a href="../intro/operation_dispute.html">분쟁광물</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../intro/subsidiary_domestic.html">계열사소개</a></li>
                    </ul>
                </div>
                <div class="col-3 gnb-list-sub">
                    <p>기업정보</p>
                    <p>디지털 제품의<br> 새로운 가치를 창조하는 기업</p>
                    <div>
                        <img src="../../resources/images/ic-gnb-01.png" alt="gnb아이콘">
                    </div>
                    <a href="javascript:void(0);" onclick="closeBtn();" class="close-btn"></a>
                </div>
            </div>
        </div>
        <div class="container" id="gnb-2">
            <div class="row">
                <div class="col-9 gnb-list d-flex">
                    <ul>
                        <li class="gnb-title"><a href="../product/glass.html">강화글라스</a></li>
                        <li><a href="../product/glass.html">모바일용 커버글라스</a></li>
                        <li><a href="../product/car.html">자동차용 강화글라스</a></li>
                        <li><a href="../product/camera_window.html">모바일용 카메라윈도우글라스</a></li>
                        <li><a href="../product/utg_glass.html">초박막글라스(폴더블,스트레처블,롤러블)</a></li>
                        <li><a href="../product/smart_watch.html">웨어러블</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../product/product_connector.html">커넥터</a></li>
                        <li><a href="../product/usb_socket.html">USB Series</a></li>
                        <li><a href="../product/card_socket.html">Card Socket Series</a></li>
                        <li><a href="../product/ear_socket.html">Ear Jack Socket Series</a></li>
                        <li><a href="../product/etc_socket.html">Etc Series</a></li>
                    </ul>
                </div>
                <div class="col-3 gnb-list-sub">
                    <p>제품</p>
                    <p>경쟁력 있는 제품포트폴리오로<br> 글로벌 시장을 선도</p>
                    <div>
                        <img src="../../resources/images/ic-gnb-02.png" alt="gnb아이콘">
                    </div>
                    <a href="javascript:void(0);" onclick="closeBtn();" class="close-btn"></a>
                </div>
            </div>
          
        </div>
        <div class="container" id="gnb-3">
            <div class="row">
                <div class="col-9 gnb-list d-flex">
                    <ul>
                        <li class="gnb-title"><a href="../technology/introduce.html">R&D 현황</a></li>
                        <li><a href="../technology/introduce.html">연구소 소개</a></li>
                        <li><a href="../technology/compete.html">기술 경쟁력</a></li>
                        <li><a href="../technology/road_map.html">비전 및 로드맵</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../technology/develop_result.html">연구개발 성과</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../technology/core_technology.html">핵심 기술력</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../technology/intellectual_property.html">지적재산권</a></li>
                    </ul>
                </div>
                <div class="col-3 gnb-list-sub">
                    <p>기술</p>
                    <p>경쟁력 있는 기술력과 축적된<br> 노하우로 세계 최고를 달성</p>
                    <div>
                        <img src="../../resources/images/ic-gnb-03.png" alt="gnb아이콘">
    
                    </div>
                    <a href="javascript:void(0);" onclick="closeBtn();" class="close-btn"></a>
                </div>
            </div>
            
        </div>
        <div class="container" id="gnb-4">
            <div class="row">
                <div class="col-9 gnb-list d-flex">
                    <ul>
                        <li class="gnb-title"><a href="../human/talent.html">인재상</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../human/welfare.html">인사제도</a></li>
                        <!-- <li><a href="javascript:void(0)">인사체계</a></li> -->
                        <li><a href="../human/welfare.html">복리후생</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../human/hire.html">채용정보</a></li>
                        <!-- <li><a href="javascript:void(0)">주요 직무소개</a></li> -->
                        <li><a href="../human/hire.html">채용절차</a></li>
                        <li><a href="../human/hire_step_1.html">채용공고</a></li>
                    </ul>
                </div>
                <div class="col-3 gnb-list-sub">
                    <p>인재/채용</p>
                    <p>임직원 모두가<br> 미래산업의 주역이 되는 회사</p>
                    <div>
                        <img src="../../resources/images/ic-gnb-04.png" alt="gnb아이콘">
                    </div>
                    <a href="javascript:void(0);" onclick="closeBtn();" class="close-btn"></a>
                </div>
            </div>
           
        </div>
        <div class="container" id="gnb-5">
            <div class="row">
                <div class="col-9 gnb-list d-flex en-layout-5">
                    <ul>
                        <li class="gnb-title"><a href="../invest_info/ir_highlight.html">Highlights</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../invest_info/finance.html">재무정보</a></li>
                        <li><a href="../invest_info/finance.html">요약재무제표</a></li>
                        <li><a href="../invest_info/finance_position.html">재무상태표</a></li>
                        <li><a href="../invest_info/finance_pl.html">손익계산서</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../invest_info/stork.html">주가정보</a></li>
                        <li><a href="../invest_info/stork.html">실시간 주가</a></li>
                        <li><a href="../invest_info/stork_day.html">일자별 주가</a></li>
                        <li><a href="../invest_info/stork_trading.html">매매동향</a></li>
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../invest_info/disclosure.html">공시</a></li>                            
                    </ul>
                    <ul>
                        <li class="gnb-title"><a href="../invest_info/ir_info.html">IR정보</a></li>
                        <li><a href="../invest_info/ir_info.html">IR 자료실</a></li>
                        <li><a href="../invest_info/ir_news.html">뉴스</a></li>
                        <li><a href="../invest_info/ir_contact.html">IR Contact</a></li>
                    </ul>
                </div>
                <div class="col-3 gnb-list-sub">
                    <p>투자정보</p>
                    <p>투명한 경영으로<br> 주주와 고객에게 신뢰받는 기업</p>
                    <div>
                        <img src="../../resources/images/ic-gnb-05.png" alt="gnb아이콘">
                    </div>
                    <a href="javascript:void(0);" onclick="closeBtn();" class="close-btn"></a>
                </div>
            </div>
            
        </div>
    </div>

   
    <div class="all_menu_mobile_wrap">
        <div class="all_menu">
            <p class="home_btn">
                <a href="../main/main.html">KOR</a>
                <a href="javascript:void(0)" class="ing" onclick="ingAlert()">ENG</a>
                <a href="javascript:void(0)" class="ing" onclick="ingAlert()">CHN</a>
            </p>
            <ul class="dep1">
                <li class="d1"><a href="javascript://" class="">기업정보 <span class="more">더보기</span></a>
                    <div class="dep2_wrap" style="display:none">
                        <ul class="dep2">
                            <li class="d2">
                                <a href="javascript:void(0)">회사소개<span class="more">더보기</span>
                                </a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../intro/summary.html">개요</a></li>
                                    <li class="d3"><a href="../intro/ceo.html">CEO 인사말</a></li>
                                    <li class="d3"><a href="../intro/history.html">연혁/수상내역</a></li>
                                    <li class="d3"><a href="../intro/vision.html">비전</a></li>
                                    <li class="d3"><a href="../intro/ci.html">CI</a></li>
                                </ul>
                            </li>
                            <li class="d2">
                                <a href="javascript:void(0)">사업소개<span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../business/cover_glass.html">커버글라스</a></li>
                                    <li class="d3"><a href="../business/connector.html">커넥터</a></li>
                                </ul>
                            </li>
                            <li class="d2">
                                <a href="javascript:void(0)">사업장<span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../intro/work_domestic.html">국내 사업장</a></li>
                                    <li class="d3"><a href="../intro/work_overseas.html">해외 사업장</a></li>
                                </ul>
                            </li>
                            <li class="d2">
                                <a href="javascript:void(0)">지속가능경영<span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../intro/operation_quality.html">품질경영</a></li>
                                    <li class="d3"><a href="../intro/operation_hsf.html">환경경영 (HSF방침)</a></li>
                                    <li class="d3"><a href="../intro/operation_social.html">사회공헌</a></li>
                                    <li class="d3"><a href="../intro/operation_dispute.html">분쟁광물</a></li>
                                </ul>
                            </li>
                            <li class="d2">
                                <a href="javascript://">계열사소개<span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../intro/subsidiary_domestic.html">국내계열사</a></li>
                                    <li class="d3"><a href="../intro/subsidiary_overseas.html">해외계열사</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="d1"><a href="javascript://">제품 <span class="more">더보기</span></a>
                    <div class="dep2_wrap">
                        <ul class="dep2">
                            <li class="d2"><a href="javascript://">강화글라스 <span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../product/glass.html">모바일용</a></li>
                                    <li class="d3"><a href="../product/car.html">차량용</a></li>
                                    <li class="d3"><a href="../product/camera_window.html">카메라윈도우용</a></li>
                                    <li class="d3"><a href="../product/utg_glass.html">UTG용</a></li>
                                    <li class="d3"><a href="../product/smart_watch.html">스마트와치용</a></li>
                                </ul>
                            </li>
                            <li class="d2"><a href="javascript://">커넥터 <span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../product/usb_socket.html">USB Series</a></li>
                                    <li class="d3"><a href="../product/card_socket.html">Card Socket Series</a></li>
                                    <li class="d3"><a href="../product/ear_socket.html">Ear Jack Socket Series</a></li>
                                    <li class="d3"><a href="../product/etc_socket.html">Etc Series</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="d1"><a href="javascript://">기술<span class="more">더보기</span></a>
                    <div class="dep2_wrap" >
                        <ul class="dep2">
                            <li class="d2"><a href="javascript://">R&D 현황<span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../technology/introduce.html">연구소 소개</a></li>
                                    <li class="d3"><a href="../technology/compete.html">기술 경쟁력</a></li>
                                    <li class="d3"><a href="../technology/road_map.html">비전 및 로드맵</a></li>
                                </ul>
                            </li>
                            <li class="d2">
                                <a href="../technology/develop_result.html">연구개발 성과</a>
                            </li>
                            <li class="d2">
                                <a href="../technology/core_technology.html">핵심 기술력</a>
                            </li>
                            <li class="d2">
                                <a href="../technology/intellectual_property.html">지적재산권</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="d1"><a href="javascript://">인재/채용<span class="more">더보기</span></a>
                    <div class="dep2_wrap">
                        <ul class="dep2">
                            <li class="d2">
                                <a href="../human/talent.html">인재상</a>
                            </li>
                            <li class="d2">
                                <a href="javascript://">인사제도 <span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../human/welfare.html">복리후생</a></li>
                                </ul>
                            </li>
                            <li class="d2">
                                <a href="javascript://">채용정보 <span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../human/hire.html">채용절차</a></li>
                                    <li class="d3"><a href="../human/hire_step_1.html">채용공고</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="d1"><a href="javascript://">투자정보<span class="more">더보기</span></a>
                    <div class="dep2_wrap">
                        <ul class="dep2">
                            <li class="d2">
                                <a href="../invest_info/ir_highlight.html">IR 하이라이트</a>
                            </li>
                            <li class="d2">
                                <a href="javascript://">재무정보 <span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../invest_info/finance.html">요약재무제표</a></li>
                                    <li class="d3"><a href="../invest_info/finance_position.html">재무상태표</a></li>
                                    <li class="d3"><a href="../invest_info/finance_pl.html">손익계산서</a></li>
                                </ul>
                            </li>
                            <li class="d2">
                                <a href="javascript://">주가정보 <span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../invest_info/stork.html">실시간 주가</a></li>
                                    <li class="d3"><a href="../invest_info/stork_day.html">일자별 주가</a></li>
                                    <li class="d3"><a href="../invest_info/stork_trading.html">매매동향</a></li>
                                </ul>
                            </li>
                            <li class="d2">
                                <a href="../invest_info/disclosure.html">공시</a>
                            </li>
                            <li class="d2">
                                <a href="javascript://">IR정보 <span class="more">더보기</span></a>
                                <ul class="dep3">
                                    <li class="d3"><a href="../invest_info/ir_info.html">IR 자료실</a></li>
                                    <li class="d3"><a href="../invest_info/ir_news.html">뉴스</a></li>
                                    <li class="d3"><a href="../invest_info/ir_contact.html">IR Contact</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  
     <!-- 검색창 -->
     <div class="search-bar main-search" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd;">
        <div class="input-group inputSearch">
            <input type="text" class="form-control" placeholder="검색어를 입력해 주세요" aria-label="Search User"
                aria-describedby="main-search">
            <div class="input-group-append">
                <span class="input-group-text" id="main-search">
                    <a href="javascript:void(0);">
                        <img src="../../resources/images/btn-search.png" alt="검색버튼" width="80%" height="80%">
                    </a>
                </span>
            </div>
        </div>
        <a href="javascript:void(0);" onclick="closeBtn();" class="close-btn"></a>
        
    </div>
</div>

<!-- 사이트맵 -->
<div class="modal fade" id="sitemap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog sitemap none" role="document">
        <div class="modal-content">
            <div class="modal-body sitemap">
                <div class="sitemaps">
                    <div class="container">
                        <div class="row">
                            <div class="sitemap-list">
                                <h2>기업정보</h2>
                                <ul>
                                    <li class="sitemap-title"><a href="../intro/summary.html">회사소개</a></li>
                                    <li><a href="../intro/summary.html">개요</a></li>
                                    <li><a href="../intro/ceo.html">CEO 인사말</a></li>
                                    <li><a href="../intro/history.html">연혁/수상내역</a></li>
                                    <li><a href="../intro/vision.html">비전 및 조직문화 CI</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../business/cover_glass.html">사업소개</a></li>
                                    <li><a href="../business/cover_glass.html">강화글라스</a></li>
                                    <li><a href="../business/connector.html">커넥터</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../intro/work_domestic.html">사업장</a></li>
                                    <li><a href="../intro/work_domestic.html">국내 사업장</a></li>
                                    <li><a href="../intro/work_overseas.html">해외 사업장</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../intro/operation_quality.html">지속가능경영</a></li>
                                    <li><a href="../intro/operation_quality.html">품질경영</a></li>
                                    <li><a href="../intro/operation_hsf.html">환경경영</a></li>
                                    <li><a href="../intro/operation_social.html">사회공헌</a></li>
                                    <li><a href="../intro/operation_dispute.html">분쟁광물</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../intro/subsidiary_domestic.html">계열사소개</a></li>
                                    <li><a href="../intro/subsidiary_domestic.html">국내 계열사</a></li>
                                    <li><a href="../intro/subsidiary_overseas.html">해외 계열사</a></li>
                                </ul>
                            </div>
                            <div class="sitemap-list">
                                <h2>제품</h2>
                                <ul>
                                    <li class="sitemap-title"><a href="../product/glass.html">강화글라스</a></li>
                                    <li><a href="../product/glass.html">모바일용 커버글라스</a></li>
                                    <li><a href="../product/car.html">자동차용 강화글라스</a></li>
                                    <li><a href="../product/camera_window.html">모바일용 카메라윈도우글라스</a></li>
                                    <li><a href="../product/utg_glass.html">초박막글라스<br><span>(폴더블, 스트레처블, 롤러블)</span></a></li>
                                    <li><a href="../product/smart_watch.html">웨어러블</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../product/product_connector.html">커넥터</a></li>
                                    <li><a href="../product/usb_socket.html">USB Series</a></li>
                                    <li><a href="../product/card_socket.html">Card Socket Series</a></li>
                                    <li><a href="../product/ear_socket.html">Ear Jack Socket Series</a></li>
                                    <li><a href="../product/etc_socket.html">Etc Series</a></li>
                                </ul>
                            </div>
                            <div class="sitemap-list">
                                <h2>기술</h2>
                                <ul>
                                    <li class="sitemap-title"><a href="../technology/introduce.html">R&D 현황</a></li>
                                    <li><a href="../technology/introduce.html">연구소 소개</a></li>
                                    <li><a href="../technology/compete.html">기술 경쟁력</a></li>
                                    <li><a href="../technology/road_map.html">비전 및 로드맵</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../technology/develop_result.html">연구개발 성과</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../technology/core_technology.html">핵심 기술력</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../technology/intellectual_property.html">지적재산권</a></li>
                                </ul>
                            </div>
                            <div class="sitemap-list">
                                <h2>인재/채용</h2>
                                <ul>
                                    <li class="sitemap-title"><a href="../human/talent.html">인재상</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../human/welfare.html">인사제도</a></li>
                                    <!-- <li><a href="javascript:void(0)">인사체계</a></li> -->
                                    <li><a href="../human/welfare.html">복리후생</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../human/hire.html">채용정보</a></li>
                                    <!-- <li><a href="javascript:void(0)">주요 직무소개</a></li> -->
                                    <li><a href="../human/hire.html">채용절차</a></li>
                                    <li><a href="../human/hire_step_1.html">채용공고</a></li>
                                </ul>
                            </div>
                            <div class="sitemap-list">
                                <h2>투자정보</h2>
                                <ul>
                                    <li class="sitemap-title"><a href="../invest_info/ir_highlight.html">IR 하이라이트</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../invest_info/finance.html">재무정보</a></li>
                                    <li><a href="../invest_info/finance.html">요약재무제표</a></li>
                                    <li><a href="../invest_info/finance_position.html">재무상태표</a></li>
                                    <li><a href="../invest_info/finance_pl.html">손익계산서</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../invest_info/stork.html">주가정보</a></li>
                                    <li><a href="../invest_info/stork.html">실시간 주가</a></li>
                                    <li><a href="../invest_info/stork_day.html">일자별 주가</a></li>
                                    <li><a href="../invest_info/stork_trading.html">매매동향</a></li>
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../invest_info/disclosure.html">공시</a></li>                            
                                </ul>
                                <ul>
                                    <li class="sitemap-title"><a href="../invest_info/ir_info.html">IR정보</a></li>
                                    <li><a href="../invest_info/ir_info.html">IR 자료실</a></li>
                                    <li><a href="../invest_info/ir_news.html">뉴스</a></li>
                                    <li><a href="../invest_info/ir_contact.html">IR Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-btn"></a>
                </div>
            
            </div>
        </div>
    </div>
</div>