
.wrap{
    padding :20px;
}

section {
    padding : 45px 0;
}

.header{
    width: 100%;
    background-color: $white;
    position: fixed;
    z-index: 99;
    border-bottom:1px solid $gray-dd;
}
header {
    .logo{
        display:block;
        width:260px;
        height: 45px;
        background-image: url('/en/resources/images/logo.png');
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
    }
    nav {
        ul {
            display: flex;
            font-size: 28px;
            li { padding: 17px 30px; color:$black;
                a{font-size:23px; font-weight:bold;
                    &:hover{color:$orange;}
                }
                &.active{color:$orange;border-bottom:1px solid $orange; margin-bottom:-1px;
                    a{color:$orange; font-weight: bold;}
                }
            }
        }
    }
    .right-header{                
        display: flex;
        .sel-language{display:flex;}
        .select-box{
            display:flex;
            align-items: center;
            .select-icon{
                width: 20px;
                height: 20px;
                background-size: contain;
            }
        }
        .select-ic{
            width: 20px;
            height: 20px;
            background-image:url('/en/resources/images/earth.png') ;
            background-size: contain;
        }
        .country{
            margin:0 10px 0 5px;
            position: relative;
            &::after{
                content:"";
                position: absolute;
                top:50%;
                transform: translate(0, -50%);
                background-image: url('/en/resources/images/ic-s-down.png');
                background-repeat: no-repeat;
                width: 11px;
                height: 5px;
                right: -15px;
            
                
            }
        }
    }

    select {margin: 0 20px 0 0;border:none;}
    a {
        img {padding: 0 0 0 40px;}
    }
}


footer {
    padding: 30px 0 60px 0;
    background-color: $gray-33;
    ul {
        display: flex;
        margin-top: 30px;
        li {
            position: relative;
            padding: 0 20px;
            cursor: pointer;
            a {
                color: $white;
                font-size:15px;
            }
            &::after {
                content: "|";
                position: absolute;
                left: 0;
                color: $gray-99;
            }
            &.active {
                a {color: $orange;}
            }
        }

        :first-child {
            // padding: 0 20px 0 0;
            padding-left:0;
            &::after {
                content: "";
                position: absolute;
                left: 0;
            }
        }
    }

    .footer-info {
        padding: 20px 0;
        p {
            line-height: 1.76;
            font-size:15px;
            color:$gray-cc;
            span{display:inline-block; margin-left: 20px;}
        }
        .link-btn {
            margin: 0;
        }
    }

    //공지사항 팝업 뒤로가기
    .btn-prev{
        width: 160px;
        height: 45px;
        border:1px solid $gray-33;
    }
}

// sitemap modal
.modal{
    .modal-dialog{
        &.sitemap{
            width: 100%; max-width:100%; position: absolute;bottom: auto; left:50%; transform: translate(-50%, 0);
        }
    }
}
.sub-content{
    position: relative;
    padding:69px 0 0 0;
    .sub-bg{
        width:100%;
        height: 80vh;
        position: absolute;
        top: 69px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        z-index: -1;
    }
    .title-box{
        padding :102px 0;
        .title{
            font-size: 48px;
            color: $white;                
            text-shadow: 0 0 6px rgba(0,0,0,0.2);
            font-weight: bold;
            line-height: 52px !important;
            span{font-size:36px;}
        }
        p{width:40%;color:$white; font-size: 18px;line-height: 1.5;
        text-shadow: 0 0 6px rgba(0,0,0,0.2);}
    }
}
.content-body{
    background-color: $white;
    .section-location{
        display:flex;
        align-items: center;
        padding:22px 0 41px 0;
        .location-ic-home{
            width: 15px;
            height: 15px;
            background-image: url('/en/resources/images/ic-home.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        span{font-size:15px;font-weight: 400;color:$gray-33;
            &:first-child{
                &::before{
                    content:"";
                    margin:0;
                }
            }
            &::before{
                content: "\f054"; 
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                margin: 0 10px;
                color:$gray-dd;
                font-size: 13px;
            }
        }
    }
    @at-root{
        .sub-title{
            width: 100%;
            border-bottom:1px solid $gray-dd;
            padding:24px 0;
            &.sub-pt{padding: 0 0 24px 0;}
            .sub-title-ic{
                width: 40px;
                height: 40px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            p{font-size:34px; font-weight: 700;margin-left: 20px;}
        }
    }
}

.sub-section-banner{
    margin:0;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .sub-section-text{
        padding : 100px 0;
        p{  
            text-shadow: 0.6px 0.8px 1px rgba(0, 0, 0, 0.3);
            &:nth-child(1){color:$white;font-size:30px;line-height: 48px;}
            &:nth-child(2){font-size: 21px ;color:$white; font-weight: 400; line-height: 48px;}
        }
    }   
}
.modal-footer{
    margin:0 auto;
    
    &.notice{
        padding:0;
    }
   
    @at-root{
        .btn{
            width: 100%;
            margin : 0 auto;
        }
        .list-view-btn{
            width: 160px;
            height: 45px;
            display:inline-block;
            line-height: 45px;
            background-color: $orange;
            color: $white;
            span{margin-bottom:2px;}
        }
    }
   
}
.modal-b-p{
    padding-bottom:120px;
}

@include media-breakpoint-down(sm){

    .wrap{
        padding :0;
    }
}
@include media-breakpoint-down(sm){
   
}
 
@include media-breakpoint-down(xl){

    header {
        padding :10px;
        nav {
            ul {
                display: flex;
                font-size: 20px;
                li { padding: 10px 15px; font-weight: 700; color:$black;
                    a{font-size:19px;}
                    &.active{color:$orange;border-bottom:1px solid $orange;
                        a{color:$orange;}
                    }
                }
            }
        }
    }
    .sub-title{
        p{font-size:30px; font-weight: 700;margin-left: 20px;}
    }
}
@include media-breakpoint-down(md){
    nav{display:none;}
    //헤더푸터
    header{
        padding :10px;
        select {margin: 0 5px 0 0;}
       
        .logo{
            width: 210px;
            background-size: contain;
            a {
                img {width:70%;height:30px;padding: 0 0 0 10px;}
            }
        }
        .right-header{                
            .sel-language{display:none;}
            align-items: center;
            .select-ic{width: 0;}
        }
    }
    footer{
        .link-btn{
            margin-top: 20px;
        }
        ul{width: 100%;flex-flow:wrap; 
            :first-child{padding:0;
                
            }
            li{padding : 0 20px 0 0; 
                &::after{content:""}
                a{
                    font-size:15px;
                }
             }
        }
    }
    //컨텐츠
    .content-body{
        padding : 0 10px;
        .section-location{
            padding:15px 0;
            span{font-size:14px;font-weight: 400;}
        }
        .sub-title{
            width: 100%;
            border-bottom:1px solid $gray-dd;
            padding:15px 0;
            &.sub-pt{padding: 0 0 15px 0;}
            .sub-title-ic{
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            p{font-size:26px; font-weight: 700;margin-left: 15px;
               span{font-size:14px;}
            }
        }
    }
    .sub-content{
        padding : 50px 0 0 0;
        .sub-bg{
            background-size: cover;
            top:50px;
        }
        .title-box {
            padding : 80px 10px;
            .title{font-size:30px;
                span{font-size:26px;}
            }
            p{width: 80%; font-size:17px;}
        }
    }
    

    .sub-section-banner{
        margin: 0;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        p{padding : 40px 0; color:$white;font-size:22px;line-height: 1.6;}
    }

    .detail-title{
        font-size: 30px;
        margin:70px 0 30px 0;
    }
}
@include media-breakpoint-down(sm){
    section{padding : 20px 0;}
   
    .sub-section-banner{
        p{
            padding:25px 0;
        }
    }
    .content-body{
        .section-location{
            .location-ic-home{width: 13px;height: 13px;}
            span{font-size:12px;}
        }
    }
    
    footer{
        padding:0;
        .footer-info{
            p{font-size:14px;
                span{margin-left:15px;}
            }
        }
        ul{
            li{
                a{font-size:14px;}
                &:after{content:"";}
            }
        }
    }
}


   

















    

  















