@charset "UTF-8";
.summary{  }
.summary section{  }
#wrap .summary .section-2{ margin-top:0; }
#wrap .summary .section-2 .about .ic-1{ background-image: url(../../resources/images/ic-01_gray.png); }
#wrap .summary .section-2 .about .ic-2{ background-image: url(../../resources/images/ic-02_gray.png); }
#wrap .summary .section-2 .about .ic-3{ background-image: url(../../resources/images/ic-03_gray.png); }
#wrap .summary .section-2 .about .ic-4{ background-image: url(../../resources/images/ic-04_gray.png); }
#wrap .summary .section-2 .year-text{ margin:30px 0 60px 0; font-size: 16px; color:#000; text-align: right; font-weight: 300; }
#wrap .summary .section-2 .button-wrap{ text-align: right; }
#wrap .summary .section-2 .button-wrap a{ display:inline-block; text-align: left; margin:0; margin-right:40px; padding:10px 36px;}
#wrap .summary .section-2 .button-wrap a:last-child{ margin-right:0; }
#wrap .summary .section-2 .button-wrap a.youtube-btn{ background-color:#f47920; color:#fff; border:0; }
#wrap .summary .section-2 .button-wrap a.youtube-btn img{ position: relative; top: 4px; }
/* product */
#wrap .product .section-6{ width:100%;}
#wrap .product .section-6 .content-wrap{ height:724px; }
#wrap .product .section-6 .content-wrap:after{content:''; display:block; clear:both;}
#wrap .product .section-6 .content-wrap li{width:calc((100% - 101px)/3);margin-right:30px;padding: 29px;float: left;background-color: #f2f2f2;background-position: center bottom;background-repeat: no-repeat;background-size: contain;}
#wrap .product .section-6 .content-wrap li.content-1{ height:100%; }
#wrap .product .section-6 .content-wrap li.content-2{ height:calc(100% - 306px); }
#wrap .product .section-6 .content-wrap li.content-3{margin-right:0; height:calc(100% - 306px);}
#wrap .product .section-6 .content-wrap li.content-4{margin-right:0;margin-top:30px;height:276px;width: calc(((100% - 101px)/3) * 2 + 30px);}
#wrap .product .section-6 .content-wrap li .title{font-size:30px; color:#000; font-weight: 700;margin-bottom:36px;}
#wrap .product .section-6 .content-wrap li .content-text{ font-size:19px; color:#000; font-weight: 300; line-height: 30px; margin-bottom:28px;}
#wrap .product .section-6 .content-wrap li a{margin:0;}
#wrap .product .section-6 .content-wrap li a img{}
/* sales */
#wrap .sales{  }
#wrap .sales:after{ content:''; display:block; clear:both; }
#wrap .sales div.w50{ width:calc((100% - 127px)/2); margin-right:126px; float: left;}
#wrap .sales div.w50:last-child{ margin-right:0; }
#wrap .sales div .sub-title p span{ display:inline-block; margin-left:25px; font-size:16px; font-weight: 300; }
#wrap .sales div .content-img{ background-color: #fff; background-position: center; background-repeat: no-repeat; height:430px; border:1px solid #ccc;}
   /* tab-title */
   .tab-title{ 
    width:100%;
    margin-bottom:45px;
 }
.tab-title:after{ 
    content:'';
    display:block;
    clear:both;
}
.tab-title li{
    line-height: 1.2;
    padding:33px 0;
    text-align: center;
    font-size:24px;
    font-weight: 700;
    background-color: #fff;
    border:1px solid #ccc;
    border-right:0;
    float: left;
    color:#000;
    cursor: pointer;
}
.tab-title li:last-child{
    border-right:1px solid #ccc;
}
.tab-title li.active{ 
    background-color: #f47920;
    border:0;
    color:#fff;
    cursor: default;
}
/* 탭 갯수 */
.tab-title.cnt_02 li{ 
    width:calc(100% / 2);
}
.tab-title.cnt_03 li{ 
    width:calc(100% / 3);
}
.tab-title.cnt_04 li{ 
    width:calc(100% / 4);
}
.tab-title.cnt_05 li{ 
    width:calc(100% / 5);
}
.tab-title.cnt_06 li{ 
    width:calc(100% / 6);
}
/* tab content */
.tab-content > div{ 
    display:none;
    background: #fff;
}
.tab-content > div:after{ 
    content:'';
    display:block;
    clear:both;
}
.tab-content > div.active{ 
    display:block;
}
.tab-content > div .left-content{ 
    width:403px;
    margin-right:120px;
    float: left;
 }
.tab-content > div .left-content .title{ 
    font-size:45px;
    font-weight: 700;
    margin-bottom:35px;
 }
.tab-content > div .left-content .title-sub{
    font-size:22px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom:35px;
    color:#f47920;
}
.tab-content > div .left-content .img{
    height:258px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    margin-bottom:15px;
}
.tab-content > div .left-content .img-text{ 
    font-size:19px;
    font-weight: 300;
}
.tab-content > div .right-content{ width:calc(100% - 524px);
    float: left;
}
.tab-content > div .right-content .history{ 
    color:#000;
}
.tab-content > div .right-content .history dl{ 
    position: relative;
}
.tab-content > div .right-content .history dl:after{ 
    content:'';
    display:block;
    clear:both;
}
.tab-content > div .right-content .history dl dt{
    position: absolute;
    left:0;
    top: -16px;
    font-size: 24px;
    font-weight: normal;
}
.tab-content > div .right-content .history dl dd{
    float: left;
    margin-left: 145px;
    width:calc(100% - 146px);
    border-left:1px solid #b2b2b2;
    padding-bottom: 65px;
    margin-bottom:0;
}
.tab-content > div .right-content .history dl dd:after{
    width:26px;
    height:26px;
    content: '';
    display: block;
    position:absolute;
    left: 133px;
    top: -13px;
    background: url(../../resources/images/ic-history-circle.png) no-repeat center;
}
.tab-content > div .right-content .history dl dd div{
    margin-bottom: 15px;
    height: 20px;
}
.tab-content > div .right-content .history dl dd div::after{
    content:'';
    display:block;
    clear:both;
}  
.tab-content > div .right-content .history dl dd div p{
    float: left;
    color:#000;
    line-height: 1;
    font-size:19px;
}
.tab-content > div .right-content .history dl dd div p.line{
    width:95px;
    height: 9.5px;
    margin-right:20px;
}
.tab-content > div .right-content .history dl dd div:first-child p.line span{
    border-top:1px solid #b2b2b2;
    position: relative;
    height: 100%;
    display:block;
}
.tab-content > div .right-content .history dl dd div p.number{
    width:42px;
    font-weight: normal;
    margin-right:30px;
    margin-top: -9.5px;
    min-height:19px;
}
.tab-content > div .right-content .history dl dd div p.text{
    width:calc(100% - 190px);
    margin-top: -9.5px;
}
.tab-content > div .right-content .history dl dd div.on p{
    color: #f47920;
}
.tab-content > div .right-content .history dl dd div.on p.line span:after{
    border-color: #f47920;
}
.tab-content > div .right-content .history dl.dl_last dd{
    padding: 0;
    height: 0;
}
@media screen and (max-width:991.98px){
    .tab-content > div .left-content{ 
        width:403px;
        margin-right:120px;
        float: inherit;   
     }
     .tab-content > div .right-content{ width:calc(100% - 524px);
        float: inherit;   
    }
}
