@charset "UTF-8";
.summary{  }
.summary section{  }
.height-50{height:50%;}
#wrap .content-body{ padding:0 54px 120px;}
#wrap .content-body.social-con{ padding:0 54px 68px;}
#wrap .summary .section-2{ margin-top:0; }
#wrap .summary .section-2 .year-text{ margin:30px 0 60px 0; font-size: 16px; color:#000; text-align: right; font-weight: 400; }
#wrap .summary .section-2 .button-wrap{ text-align: right; }
#wrap .summary .section-2 .button-wrap a{ display:inline-block; text-align: left; margin:0; margin-right:40px; padding:10px 36px;}
#wrap .summary .section-2 .button-wrap a:last-child{ margin-right:0; }
#wrap .summary .section-2 .button-wrap a.youtube-btn{ background-color:#f47920; color:#fff; border:0; }
#wrap .summary .section-2 .button-wrap a.youtube-btn img{position: relative;top: 0;}
/* product */
#wrap .product .section-6{ width:100%;}
#wrap .product .section-6 .content-wrap{height: 600px;}
#wrap .product .section-6 .content-wrap .border-padding{padding : 20px; height: 100%;}
#wrap .product .section-6 .content-wrap:after{content:''; display:block; clear:both;}
#wrap .product .section-6 .content-wrap .product-item{width:100%;height:100%;margin-right:30px;padding: 29px 20px;float: left;background-color: #f2f2f2;background-position: center right;background-repeat: no-repeat;background-size: cover;}

#wrap .product .section-6 .content-wrap .title{font-size: 24px;color:#000;font-weight: 700;margin-bottom: 20px;}
#wrap .product .section-6 .content-wrap  .content-text{font-size: 16px;color:#000;font-weight: 400;line-height: 24px;margin-bottom:20px; }
#wrap .product .section-6 .content-wrap  a{margin:0;}
#wrap .product .section-6 .content-wrap  a img{}
/* sales */
#wrap .sales{  }
#wrap .sales:after{ content:''; display:block; clear:both; }
#wrap .sales div.w50{width: calc((100% - 101px)/2);margin-right: 100px;float: left;}
#wrap .sales div.w50:last-child{ margin-right:0; }
#wrap .sales div .sub-title p span{display:inline-block;margin-left:25px;font-size: 16px;font-weight: 400;}
#wrap .sales div .content-img{background-color: #fff;background-position: center;background-repeat: no-repeat;height:430px;border:1px solid #ccc;background-size: 413px;}
   /* tab-title */
   .tab-title{ 
    width:100%;
    margin-bottom:45px;
 }
.tab-title:after{ 
    content:'';
    display:block;
    clear:both;
}
.tab-title li{
    line-height: 1.2;
    padding:33px 0;
    text-align: center;
    font-size:24px;
    font-weight: 700;
    background-color: #fff;
    border:1px solid #ccc;
    border-right:0;
    float: left;
    color:#000;
    cursor: pointer;
}
.tab-title li:last-child{
    border-right:1px solid #ccc;
}
.tab-title li.active{ 
    background-color: #f47920;
    border:0;
    color:#fff;
    cursor: default;
}
/* 탭 갯수 */
.tab-title.cnt_02 li{ 
    width:calc(100% / 2);
}
.tab-title.cnt_03 li{ 
    width:calc(100% / 3);
}
.tab-title.cnt_04 li{ 
    width:calc(100% / 4);
}
.tab-title.cnt_05 li{ 
    width:calc(100% / 5);
}
.tab-title.cnt_06 li{ 
    width:calc(100% / 6);
}
/* tab content */
.tab-content > div{ 
    display:none;
    background: #fff;
}
.tab-content > div:after{ 
    content:'';
    display:block;
    clear:both;
}
.tab-content > div.active{ 
    display:block;
}
.tab-content > div .left-content{ 
    width:403px;
    margin-right:120px;
    float: left;
 }
.tab-content > div .left-content .title{ 
    font-size:45px;
    font-weight: 700;
    margin-bottom:30px;
 }
.tab-content > div .left-content .title-sub{
    font-size:22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom:30px;
    color:#f47920;
}
.tab-content > div .left-content .img{
    height:258px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    margin-bottom:15px;
}
.tab-content > div .left-content .img-text{ 
    font-size:19px;
    font-weight: 400;
}
.tab-content > div .right-content{ width:calc(100% - 524px);
    float: left;
    margin-top: 16px;
}
.tab-content > div .right-content .history{ 
    color:#000;
}
.tab-content > div .right-content .history dl{ 
    position: relative;
}
.tab-content > div .right-content .history dl:after{ 
    content:'';
    display:block;
    clear:both;
}
.tab-content > div .right-content .history dl dt{
    position: absolute;
    left:0;
    top: -16px;
    font-size: 24px;
    font-weight: normal;
}
.tab-content > div .right-content .history dl dd{
    float: left;
    margin-left: 115px;
    width:calc(100% - 116px);
    border-left:1px solid #b2b2b2;
    padding-bottom: 65px;
    margin-bottom:0;
}
.tab-content > div .right-content .history dl dd:after{
    width:26px;
    height:26px;
    content: '';
    display: block;
    position:absolute;
    left: 103px;
    top: -13px;
    background: url(../../resources/images/ic-history-circle.png) no-repeat center;
}
.tab-content > div .right-content .history dl dd div{
    margin-bottom: 15px;
    min-height: 20px;
}
.tab-content > div .right-content .history dl dd div::after{
    content:'';
    display:block;
    clear:both;
}  
.tab-content > div .right-content .history dl dd div p{
    float: left;
    color:#000;
    line-height: 1;
    font-size:19px;
}
.tab-content > div .right-content .history dl dd div p.line{
    width:95px;
    height: 9.5px;
    margin-right:20px;
}
.tab-content > div .right-content .history dl dd div:first-child p.line span{
    border-top:1px solid #b2b2b2;
    position: relative;
    height: 100%;
    display:block;
}
.tab-content > div .right-content .history dl dd div p.number{
    width:42px;
    font-weight: normal;
    margin-right:30px;
    margin-top: -9.5px;
    min-height:19px;
}
.tab-content > div .right-content .history dl dd div p.text{
    width:calc(100% - 190px);
    margin-top: -9.5px;
}
.tab-content > div .right-content .history dl dd div.on p{
    color: #f47920;
}
.tab-content > div .right-content .history dl dd div.on p.line span:after{
    border-color: #f47920;
}
.tab-content > div .right-content .history dl.dl_last dd{
    padding: 0;
    height: 0;
}

/* menu */
.mobile_menu{position: fixed;top:0; z-index: 999;width:100%;height:100%;background: #fff;right: -100%; transition: all 0.6s;}
.mobile_menu.on{right: 0;}
.mobile_menu .top{width:100%;height:50px;line-height: 50px;padding: 0px 13px;background: #333;}
.mobile_menu .top .text{ font-size: 14px; color:#fff; width:calc(100% - 51px); float: left; }
.mobile_menu .top button.cancel{float: right;width: 30px;height:50px;background: url(../images/icon_cancel_w.png) no-repeat center right;background-size: 20px;}
.mobile_menu .top button.cancel img{ width:100%; }
.mobile_menu .bottom{height: calc(100% - 50px);}
.mobile_menu .bottom .title{line-height: 45px;font-size: 16px;font-weight: bold;padding: 0 10px;border-bottom: 1px solid #ddd;color: #000;}
.mobile_menu .bottom .left{background: #f47920;float: left;width: 50%;height: calc(100% - 45px);overflow-y: auto;}
.mobile_menu .bottom .left > li{padding: 0 10px;line-height: 45px;font-size: 14px;font-weight: bold;color: #fff;}
.mobile_menu .bottom .left > li.on{background: #fff;color: #f47920;}
.mobile_menu .bottom .right{float: left;width: 50%;height: calc(100% - 45px);overflow-y: auto;}
.mobile_menu .bottom .right > li{display: none;}
.mobile_menu .bottom .right > li.on{display: block;}
.mobile_menu .bottom .right > li > span,
.mobile_menu .bottom .right > li > a{display: block;width: 100%;line-height: 45px;padding: 0 10px;font-size: 14px;color: #999;border-bottom: 1px solid #ddd;background: url(../images/g-btn-bottom.png) no-repeat center right 10px;background-size: 17px;}
.mobile_menu .bottom .right > li > span.on,
.mobile_menu .bottom .right > li > a.on{font-weight: bold;color: #000;background: url(../images/o-btn-top.png) no-repeat center right 10px;background-size: 17px;}
.mobile_menu .bottom .right > li > a{background: none;}
.mobile_menu .bottom .right > li div{background: #f0f0f0;height:0;overflow: hidden;transition: all 0.6s; }
.mobile_menu .bottom .right > li div ul li a{display: block;line-height: 1.3;font-size: 14px;padding: 13px 10px 13px 20px;color: #999;border-bottom: 1px solid #ddd;}

/* toggle_list */
.toggle_list{  }
.toggle_list:after{ content:''; display:block; clear:both; }
.toggle_list .list{border-bottom:1px solid #ccc; padding :35px 0;}
.toggle_list .list:last-child{  }
.toggle_list .list:after{ content:''; display:block; clear:both; }
.toggle_list .list > div{ float: left; }
.toggle_list .list .left{width:296px;margin-right: 35px;height:200px;overflow: hidden;}
.toggle_list .list .left .img{ width:100%; }
.toggle_list .list .left .img img{ height:100%; }
.toggle_list .list .left a{ margin: 0; margin-top: 11px; }
.toggle_list .list .left a img{  }
.toggle_list .list .right{width: calc(100% - 332px);overflow: hidden;height:200px;}
.toggle_list .list .right p{font-size: 16px;color:#000;margin-left: 30px;}
.toggle_list .list .right p.title{font-size:32px;margin-bottom: 35px;position: relative;cursor: pointer;margin-left: 0;padding-left: 30px;}
/* .toggle_list .list .right p.title:hover{background: #f5f5f5;} */
.toggle_list .list .right p.title span{font-weight: bold;line-height:62px;display: inline-block;}
.toggle_list .list .right p.title span em{color:#f47921;font-style: normal;}
.toggle_list .list .right p.title span.country{height:62px;margin-left: 30px;}
.toggle_list .list .right p.title span.country img{ height:100%; }
.toggle_list .list .right p.title button{width: 62px;height: 62px;position: absolute;right: 0;background: url(../../resources/images/g_list_btn.png) no-repeat center;}
.toggle_list .list .right p.text{line-height: 28px;min-height: 156px;}
.toggle_list .list .right ul.list_info{padding-left: 30px;}
.toggle_list .list .right ul.list_info li{font-size: 14px;padding-left: 15px;position: relative;margin-bottom: 5px;}
.toggle_list .list .right ul.list_info li:first-child{margin-bottom: 35px;line-height: 28px;}
.toggle_list .list .right ul.list_info li:last-child{margin-bottom:0;}
.toggle_list .list .right ul.list_info li::before{content:'';display:block;width:4px;height:4px;background: #b2b2b2;position: absolute;left: 0;top: 11px;}
.toggle_list .list .right ul.list_info li p.span_wrap{display: inline-block;margin-left: 109px;margin-top: -27px;}
.toggle_list .list .right ul.list_info li span{display: inline-block;margin-left: 10px;height: 100%;padding: 0 25px;background: #fff;border-radius: 20px;border: 1px solid #bfbdbe;box-sizing: border-box;margin-bottom: 10px;}
.toggle_list .list.on{  }
.toggle_list .list.on .left{ height:auto; width:368px; overflow: hidden; }
.toggle_list .list.on .right{width: calc(100% - 404px);height:auto;}
.toggle_list .list.on .right p.title button{background: url(../../resources/images/g_list_btn_on.png) no-repeat center;}
.toggle_list.map .list{height: 85px;overflow:hidden;}
.toggle_list.map .list p{font-size: 16px;color:#000;}
.toggle_list.map .list p.title{font-size:30px;margin-bottom: 35px;position: relative;cursor: pointer;margin-left: 0;}
/* .toggle_list.map .list p.title:hover{background: #f5f5f5;} */
.toggle_list.map .list p.title span{font-weight: bold;line-height:62px;display: inline-block;}
.toggle_list.map .list p.title span em{color:#f47921;font-style: normal;}
.toggle_list.map .list p.title span.country{height:62px;margin-left: 30px;}
.toggle_list.map .list p.title span.country img{ height:100%; }
.toggle_list.map .list p.title button{width: 62px;height: 62px;position: absolute;right: 0;background: url(../../resources/images/g_list_btn.png) no-repeat center;}
.toggle_list.map .list p.text{line-height: 28px;margin-bottom: 30px;}
.toggle_list.map .list .map_wrap{ width:100%; height:500px; }
.toggle_list.map .list.on{ height:auto; }
.toggle_list.map .list.on p.title button{background: url(../../resources/images/g_list_btn_on.png) no-repeat center;}


.icon-list-box{padding: 35px 75px 60px;}
.icon-list-box:after{content:''; display:block; clear:both;}
.icon-list-box .icon-list{  }
.icon-list-box .icon-list li{padding: 25px 0;padding-left:175px;border-top: 1px solid #e5e5e5;background-repeat: no-repeat;background-position: 45px center;}
.icon-list-box .icon-list li:first-child{border-top: 0;}
.icon-list-box .icon-list li:after{ content:''; display:block; clear:both; }
.icon-list-box .icon-list li div{ float:left; }
.icon-list-box .icon-list li .list-text{width: 100%;}
.icon-list-box .icon-list li .list-text .list-title{font-size: 24px;font-weight: bold;}
.icon-list-box .icon-list li .list-text .list-sub-title{font-size: 16px;line-height: 26px;}
.icon-list-box .sign{float: right;padding-right:152px;background: url(../../resources/images/sign.png) no-repeat right bottom;}
.icon-list-box .sign p{ font-size:21px; color:#000;line-height:36px; }
.c-s-text span{ display:block; font-weight: 700; padding-left:13px; position: relative; }
.c-s-text span::before{ width:4px; height:4px; display:block; content: ''; position: absolute; left:0; top:calc(50% - 2px); background-color: #b2b2b2; }
.ul_03{ margin-top: 45px; }
.ul_03:after{ content:''; display:block; clear:both; }
.ul_03.border_bottom{border-bottom:1px solid #dddddd; padding-bottom:23px;  }
.ul_03 li{ float: left; margin-right:60px; width:calc((100% - 61px)/2); }
.ul_03 li:last-child{ margin-right:0; }
/* .ul_03 li img{ display:block; width:100%; } */
.mg-top{ padding-top:70px; margin-top:45px; border-top:1px solid #ccc; }
.mg-top .border-box{ margin-top:0; }
.mg-top span{ display: block; margin-top: 20px; font-size:16px; }
.policy{background-position: left top;background-repeat: no-repeat;padding: 33px 63px;background-size: 500px;}
.policy:after{ content:''; display:block; clear:both; }
.policy .icon-list-box{padding: 0;float: right;width: 650px;}
.policy .icon-list-box .icon-list li{border-top:0;background-size: 76px;padding: 17px 0;padding-left: 120px;background-position: 20px center;}
/* quality */
.quality{  }
.quality:after{ content:''; display:block;clear:both; }
.quality > div{float:left;width:calc((100% - 91px)/4);border:1px solid #ccc;padding:20px;min-height: 470px;}
.quality > div .img{text-align: center;padding: 20px 0 10px;height: 120px;}
.quality > div .img img{  }
.quality > div .title_text{font-size: 18px;margin-bottom: 30px;position: relative;padding-bottom: 10px;font-weight: 700;}
.quality > div .title_text:after{content:'';width:56px;height:3px;background-color: #f47921;position: absolute;bottom:0;left: 0;}
.quality > div ul{  }
.quality > div ul:after{ content:''; display:block; clear:both; }
.quality > div ul li{position: relative;font-size:16px;padding-left:14px;line-height: 1.2;margin-bottom: 10px;}
.quality > div ul li::before{width:4px;height:4px;background: #b2b2b2;position: absolute;top: 8px;left:0;content:'';display:block;}
.quality > div ul li:last-child{  }
.quality > p{width:30px;height:100px;float:left;background: url(../../resources/images/g-ic-plus.png) no-repeat center;background-size: 23px;min-height: 430px;}
/* social */
.social{  }
.social:after{ content:''; display:block; clear:both; }
.social > div{ width:calc((100% - 81px)/3); height:300px; background-repeat: no-repeat; background-position: center; border:1px solid #ccc; float:left; }
.social > p{ width:40px; height:300px; float:left; }
.social > p.left_arrow{ background: url(../../resources/images/ct-arrow-sc-left.png) no-repeat center; background-size: 14px; }
.social > p.right_arrow{ background: url(../../resources/images/ct-arrow-sc-right.png) no-repeat center; background-size: 14px; }

/* 푸터 팝업 */
#wrap footer ul li span{color:#fff; font-size:16px;}
.modal-dialog{  }
.modal{  }
.modal.privacy{  }
.modal .modal-dialog{ width: 1260px; max-width:100%; position: absolute; left:calc(50% - 630px);bottom: 185px; }
.modal .modal-dialog.notice{ width: 1260px; max-width:100%; position: absolute;bottom: auto;}
/* .modal .modal-dialog.notice{bottom:15px;} */
.modal .modal-dialog::after{ content:''; display:block; width:15px; height:13px; background: url(../../resources/images/ic-footer-tooltip.png) no-repeat center; position: absolute; bottom:-12px; left:183px;}
#footer_email .modal-dialog::after{ content:''; display:block; width:15px; height:13px; background: url(../../resources/images/ic-footer-tooltip.png) no-repeat center; position: absolute; bottom:-12px; left:123px;}
#footer_center .modal-dialog::after{ content:''; display:block; width:15px; height:13px; background: url(../../resources/images/ic-footer-tooltip.png) no-repeat center; position: absolute; bottom:-12px; left:299px;}
#footer_notice .modal-dialog::after{ content:''; display:block; width:15px; height:13px; background:none;left:auto;right:450px;} 
#footer_email .modal-dialog{ width:900px; left:calc(50% - 450px) }
#footer_center .modal-dialog{ width:900px; left:calc(50% - 450px) }
.modal .modal-body{padding:60px 50px;}
.modal .modal-body.notice{padding:0 50px 120px;}
.modal .modal-body:after{content:'';display:block;clear:both;}
#footer_email .modal-body{padding: 60px 80px;}
#footer_center .modal-body{padding: 60px 80px;}
.modal .title{ padding-left:63px; line-height: 42px; font-size:34px; margin-bottom:34px; background-repeat: no-repeat; background-position:center left; }
.modal .content-scroll{ width:100%; height:400px; border: solid 1px rgba(0, 0, 0, 0.3); overflow-y:auto; padding:48px 60px; font-size:16px; font-weight: 400; }
.modal .content-scroll span{ font-weight: 700; }
.modal .content-text{font-size:16px;line-height: 24px;padding-left: 63px;min-height: 130px;}
.modal .content-text-sub{padding-left: 63px;line-height: 43px;}
.modal .content-text-sub.fr{text-align: right;float: right;}
.modal .content-text-sub.fl{float: left;}
.modal .link-btn{float: right;margin: 0;}







/* ===================== resize ===================== */
/* 공용 */
#wrap .sub-section-banner .sub-section-text p:nth-child(1){ font-size:28px; }
#wrap .sub-section-banner .sub-section-text p:nth-child(2){ font-size:18px;}
/* 헤더 */
#wrap header a img{ height:28px; }
#wrap header .logo a img{ height:40px; }
#wrap .gnb .gnb-list-sub > div{  border:0; padding-top:20px;}
.justify-content-between{ position: relative; }
#wrap .gnb .menu-close-btn{ position: absolute; right: -30px; top: 35px; }
.link-btn{font-size:15px; padding: 8px 30px;}
.link-btn img{ margin: 0 5px 0 15px; }

/* main */
/* #wrap .banner-1 .banner-wrap{width:1260px;margin:0 auto;padding: 243px 0;}
#wrap .banner-1 .banner-wrap p:nth-child(1){font-size:50px; line-height: 1.2;}
#wrap .banner-1 .banner-wrap p:nth-child(2){ font-size:32px; line-height: 1.2;}
#wrap .banner-1 .banner-wrap p:nth-child(3){ font-size:32px; line-height: 1.2;}
#wrap .swiper-container .swiper-pagination{ width:1260px; left: calc(50% - 630px); padding:0; } */
#wrap .section-2 .about p:nth-child(2){ font-size:16px; }
#wrap .section-2 .about p:nth-child(3){ font-size:32px; }
#wrap .section-2 .container .about > div{background-repeat: no-repeat; background-size: 80px; width: 80px; height: 80px; }
#wrap section > div > h1{ font-size: 34px; margin-bottom: 45px; font-weight: bold;} 
#wrap .section-3 .global-text p:nth-child(1){ font-size:31px; line-height: 1.4; font-weight: bold;}
#wrap .section-3 .global-text p:nth-child(2){ font-size:16px; line-height: 1.6;     margin: 30px 0;}
#wrap .section-3 .global-img img{ height:450px; }
#wrap .section-4 .fp-wrap p:nth-child(1){font-size:28px;}
#wrap .section-4 .fp-wrap p:nth-child(2){font-size:16px;margin-top: 20px;}
#wrap .section-4 .fp-wrap{background-color: #fff;background-position: right bottom;background-repeat: no-repeat;background-size: contain;padding: 50px 40px;padding-bottom: 100px;}
#wrap .section-4 .features{padding-left:30px;padding-right:30px; height: 100%;}
#wrap .section-5 .newsroom-content .news-title{ font-size: 22px; line-height: 1.2; }
#wrap .section-5 .newsroom-content .news-date{font-size:16px;}
#wrap .section-5 .newsroom-content .news-list{margin-bottom:27px;}
#wrap header a img{padding-left:25px;}
/* ceo */
#wrap .ceo-greetings img{ height:476px; }
#wrap .ceo-sign{ margin:30px 0 0 0; }
#wrap .ceo-sign > div:nth-child(1){ padding-top:30px; }
#wrap .ceo-sign > div:nth-child(2){ height:80px; }
#wrap .ceo-sign p{ font-size:22px; }
#wrap .ceo-profile .ceo-profile-title{font-size:22px;margin-bottom:20px;}
#wrap .ceo-profile .ceo-profile-years li{font-size:16px;}
#wrap .ceo-profile .ceo-profile-job li{font-size:16px;}
#wrap .ceo-profile .ceo-profile-job li span{font-family: '맑은 고딕'; color:#999;}
/* history */
.tab-content > div .left-content .title{font-size:36px;}
.tab-content > div .left-content .title-sub{font-size:18px;}
.tab-content > div .left-content .img-text{font-size:16px;}
.tab-content > div .right-content .history dl dt{font-size:24px;}
.tab-content > div .right-content .history dl dd div p{font-size:16px;}
/* 제품 table */
.table.socket th{ font-size:16px; }
.table tbody td{font-size:16px;}
.ul-list-dot li{font-size:16px;}
/* 핵심기술력 */
.table.core thead tr th{
    font-size:16px;
    font-weight:700;
    color:#000;
}
.table.core ul{ padding:0; }
.toggle_list .list .right p.title{font-size:28px;margin-bottom: 30px;}





.only_mo{ display:none !important; }
@media screen and (max-width:1260px){
    .modal .modal-dialog{ width:calc(100% - 40px) !important; left:0!important; margin-left:20px; }
   
}
@media screen and (max-width:991.98px){
    .height-50{height:auto;}
    /* product */
    #wrap .product .section-6{ width:100%;}
    #wrap .product .section-6 .content-wrap{height: 100%;}
    #wrap .product .section-6 .content-wrap .border-padding{padding :0; height: 100%;}
    #wrap .product .section-6 .content-wrap:after{content:''; display:block; clear:both;}
    #wrap .product .section-6 .content-wrap .product-item{width:100%;height:100%;margin-right:0;margin-top:30px;padding: 29px 20px;float: left;background-color: #f2f2f2;background-position: center right;background-repeat: no-repeat;background-size: cover;}

    .only_w{ display:none !important; }
    .only_mo{ display:block !important; }
    .sitemaps{ display:none; }
    #wrap .section-4 .features{padding-left:0;padding-right:0; height: 100%;}
    /* layout */
    .container{ padding:0; }
    .nav-tabs{ margin:20px 0; }
    #wrap .sub-content .title-box{ padding:50px 15px; }
    /* #wrap section{margin-top:30px; padding : 20px 0;} */
    #wrap .content-body{ padding:0 10px 70px; }
    .logo{padding-left:10px;}
    #wrap header .left-header img{ width: 41px; height: auto; padding: 0 10px; }
    footer .container{padding:0 15px;}
    #wrap footer ul li:first-child a{padding:0 10px 0 0;}
    #wrap footer .text-right{margin-top:20px;}
    /* history */
    .tab-content > div .left-content{width:100%; float: inherit; margin:0;}
    .tab-content > div .left-content .title{font-size: 23px; margin-bottom:15px;}
    .tab-content > div .left-content .title-sub{font-size:19px; line-height: 22px; margin-bottom:15px;}
    .tab-content > div .left-content .img{margin-bottom:10px; background-size: cover;}
    .tab-content > div .right-content{ width:100%; float: inherit; margin-top: 40px; }
    .tab-content > div .right-content .history dl dt{position: absolute;width:auto;left: 55px;}
    .tab-content > div .right-content .history dl dd{margin:0;width: calc(100% - 10px);float: none;position: relative;margin-left: 10px;padding-top: 0;padding-bottom:20px;}
    .tab-content > div .right-content .history dl dd:after{left: -13px;}
    .tab-content > div .right-content .history dl dd div{min-height:25px; margin-bottom: 25px;}
    .tab-content > div .right-content .history dl dd div:first-child{ position: relative; padding-top:40px; }
    .tab-content > div .right-content .history dl dd div:first-child p.line span{ position: relative; top:-40px; }
    .tab-content > div .right-content .history dl dd div p.line{width: 35px;margin-right: 10px;}
    .tab-content > div .right-content .history dl dd div p.number{margin-right:10px;}
    .tab-content > div .right-content .history dl dd div p.text{width: calc(100% - 98px);}
    
    .ul_03{ margin-top: 20px; }
    .ul_03 li{ float: none; width: 100%; }
    .ul_03 li:first-child{ margin-bottom:30px; }
    .mg-top{ margin-top:20px; padding-top:30px; }
    .pd-top{ padding-top:30px; }
    .policy{ padding:20px 10px; background: none !important; }
    .icon-list-box{ padding:20px 10px; margin-top:0; }
    .icon-list-box .icon-list li{ background-size: 60px;padding: 10px 0; padding-left: 80px; background-position: 5px; font-size: 14px;  }
    .icon-list-box .icon-list li .list-text .list-title{ font-size:14px; line-height:20px; }
    .policy .icon-list-box{ width:100%;}
    .policy .icon-list-box .icon-list li{ background-size: 60px;padding: 10px 0; padding-left: 80px; background-position: 5px; font-size: 14px; }
    .icon-list-box .icon-list li .list-text .list-sub-title{ font-size:14px; line-height:20px; }
    .icon-list-box .sign{margin-top:20px;background-size: 88px;padding-right: 61px;padding-bottom: 43px;}
    .icon-list-box .sign p{ font-size: 16px; line-height: 20px; }
    .quality > div{width:calc((100% - 21px)/2);padding: 10px;min-height: 400px;}
    .quality > p{ width:20px; background-size: 15px; }
    .quality > p:nth-child(4){ display:none; }
    .quality > div:nth-child(5){ clear:both; }
    .quality > div .title_text{font-size:18px;padding-bottom: 5px;margin-bottom: 20px;}
    .quality > div ul li{font-size:14px;margin-bottom: 5px;}
    .quality > div .img{ height:100px; }
    .quality > div .img img{ height:100%; }
    .social > div{ width:100%; margin-bottom:10px; }
    .social > p{ display:none; }

    .toggle_list .list .left{width:100%;float:none; margin-bottom: 10px;}
    .toggle_list .list.on .left{width:100%;}
    .toggle_list .list .right{width:100%;float:none;height:45px;}
    .toggle_list .list.on .right{ width:100%;  }
    .toggle_list .list .right p.title{padding:0;}
    .toggle_list .list .right p.text{margin:0; margin-bottom:30px;}
    .toggle_list .list .right ul.list_info{padding:0;}
    .toggle_list .list .right ul.list_info li:first-child{margin-bottom:10px;}
    .toggle_list .list .left a{margin-top:10px; float:right;}
    .toggle_list .list .right  p.title{font-size:20px;}
    .toggle_list .list .right  p.title span{line-height: 45px;}
    .toggle_list .list .right  p.title span.country{height:45px; margin-left: 15px;}
    .toggle_list .list .right  p.title button{ width:45px; height:45px; background-size: 20px; }
    .toggle_list.map .list{ height:64px; }
    .toggle_list.map .list  p.title{font-size:20px;}
    .toggle_list.map .list  p.title span{line-height: 45px;}
    .toggle_list.map .list  p.title span.country{height:45px; margin-left: 15px;}
    .toggle_list.map .list  p.title button{ width:45px; height:45px; background-size: 20px; }
  
    .toggle_list.map .list  .map_wrap{height:200px;}
    .toggle_list .list.on  p.title button{ background-size: 20px; }
    .toggle_list .list{ padding-bottom:20px;margin-bottom:20px; }

    #wrap .summary .section-2{padding-top:30px;}
    #wrap .summary .section-2 > div > div > div{ margin-bottom:30px; }
    #wrap .summary .section-2 .year-text{     margin: 10px 0 30px 0; }
    #wrap .summary .section-2 .button-wrap a{margin-right: 10px;padding: 10px 20px;}
 
    #wrap .sales div.w50{ width:100%; margin:0; margin-bottom:20px; }
    #wrap .sales div .content-img{ background-size: 300px; height:300px;}
    .modal .modal-dialog{ left:0!important; }
    .modal .modal-dialog::after{ display:none !important; }
    .modal .modal-body{ padding:30px 20px!important; }
    .modal .content-scroll{ padding:20px 30px!important; }
    .modal .content-text{padding-left:40px;}
    .modal .content-text-sub{padding-left:40px; line-height: 1.4;}
    .modal .title{font-size:24px; padding-left:40px; background-size: 30px; margin-bottom: 15px;}
    .modal .modal-dialog{bottom:auto; top:50px;}
    
}
@media screen and (max-width:500px){
    .banner_slide{ width:100%; }
    .swiper-slide .img{height:224px;}
    .bg_thumbs{display:none;}
    .swiper-button-next{ display:none; }
    .swiper-button-prev{ display:none; }

}